@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1ftpqq');
  src:  url('fonts/icomoon.eot?1ftpqq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1ftpqq') format('truetype'),
    url('fonts/icomoon.woff?1ftpqq') format('woff'),
    url('fonts/icomoon.svg?1ftpqq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-next:before {
  content: "\e900";
}
.icon-arrow-prev:before {
  content: "\e901";
}
.icon-caret:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-menu-services:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-more:before {
  content: "\e909";
}
.icon-next:before {
  content: "\e90a";
}
.icon-next-long:before {
  content: "\e90b";
}
.icon-ok:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-prev:before {
  content: "\e90e";
}
.icon-prev-long:before {
  content: "\e90f";
}
.icon-quote:before {
  content: "\e910";
}
.icon-succses:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
.icon-vk:before {
  content: "\e913";
}
