/* reset */
$min-width: 320px; 
$max-width:1414px;
$base-font-size: 10px; 
$base-line-height: 1.4; 
$base-font-family: Effra, arial, sans-serif; 
$custom-font-family: $base-font-family; 

$default-transition:all 0.3s ease-in;

/* main variables */

//text, titles
$text-color:  #53545D;
$title-color: $text-color;
$title-font-family: $base-font-family;

$color-active: #FFDFA5;

$color1: #29A690;
$link-color: $color-active;
$base-bg: #fff;
$placeholder: rgba(#000,.4);

$font-size-h1: 36px;
$line-height-h1: 42px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 28px;
$line-height-h3: 32px;
