

.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	position: relative;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    &.opened {
    	.jq-selectbox__select {
    		border-radius:2rem 2rem 0 0
    	}
    }
    select {
    	opacity: 0
    }
}
.jq-selectbox__select {
	height: 7rem;
	padding: 0.8rem 5rem 0.7rem 2.6rem;
	    font-size: 1.6rem;
	line-height: 6.3rem;
	position: relative;
	background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;

border-radius: 10rem;
    transition: border .3s ease-in
}

.jq-selectbox select, .jq-select-multiple select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: -100
}
.select_with-select-first .jq-selectbox__select{
    color: #5c6266;
}

.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.4rem;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 100%;

}
.jq-selectbox__trigger-arrow {
	position: absolute;
    top: 2.8rem;
    right: 3rem;
    width: 0.85rem;
    height: 0.85rem;
	overflow: hidden;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	transform: rotate(-45deg);
	transform-origin: center;
	transition: all .3s ease-in
}


.jq-selectbox__dropdown {
	top: 100%;
    margin-top: -1px;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	border-radius: 0 0 2rem 2rem;
	overflow: hidden;
	background: #FFF;
	    font-size: 1.6rem;
	line-height: 1.85rem;
	position: absolute;
	z-index: 100;
	background: #FFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-top: 0;
	    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 2rem 2rem;
    margin-top: 2px;
}

.jq-selectbox__search {
	margin: 5px;
}

.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input[type=search]{display:none;}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 1.1rem 0 .9rem;
	max-height: 17.5rem;
	list-style: none;
	overflow: hidden auto;
}
.jq-selectbox li {
	padding: 9px 26px 6px;
	font-weight: bold;
	font-size: 1.4rem;
	line-height: 1.28;
	color: rgba($text-color,.6);
}
.jq-selectbox li:hover {
	color: $color-active;
}
.jq-selectbox li.selected {
	background: #EFEFEF;;
	color: $text-color;
}
.jq-selectbox li.disabled {}
.jq-selectbox li.disabled:hover {}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}

.jq-select-multiple {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 1px;
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	border-radius: 4px;
	box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
	background: #FFF;
	color: #333;
	font: 14px/18px Arial, sans-serif;
	cursor: default;
}
.jq-select-multiple.focused {
	border: 1px solid #5794BF;
}
.jq-select-multiple.disabled {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-select-multiple ul {
	margin: 0;
	padding: 0;
}
.jq-select-multiple li {
	padding: 3px 9px 4px;
	list-style: none;
}
.jq-select-multiple li:first-child {
	border-radius: 3px 3px 0 0;
}
.jq-select-multiple li:last-child {
	border-radius: 0 0 3px 3px;
}
.jq-select-multiple li.selected {
	background: #08C;
	color: #FFF;
}
.jq-select-multiple li.disabled {
	color: #AAA;
}
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
	background: #CCC;
	color: #FFF;
}
.jq-select-multiple li.optgroup {
	font-weight: bold;
}
.jq-select-multiple li.option {
	padding-left: 25px;
}

.drop-down {
	top: 7rem !important
}
@media screen and (max-width: 767px),(max-height: 800px) {
	.jq-selectbox__select {
		height: 6rem;
		line-height: 4.6rem;
	}
	.jq-selectbox__trigger-arrow {

    top: 2.3rem;
}
.drop-down {
	top: 6rem !important
}
.form-control_lg {

.drop-down {
	top: 7rem !important
}
}
}
