/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     -ms-touch-action: pan-y;
     touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    // margin-left: auto;
    // margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    /*height: 100%;*/
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        vertical-align: top
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow {
    background: transparent;
    display: block;
    border: 0;

    color: #fff;
    background: #0F0F10;
        border-radius: 100px;
    transition: background .3s ease-in;

    padding: 0;
    position: absolute;
    left: 50%;

    bottom: 0;
    z-index: 0;
    font-size: 10px;
    width: 54px;    
    z-index: 2;
    height: 54px;
    line-height: 60px;
    display: block;
    i {
        display: inline-block;
        position: relative;
    }
}


.web .slick-arrow:hover {
        background: $color-active
    }
.slick-prev {
    margin-left: -54px;
    border-radius: 100px 0 0 100px;
    padding-left: 4px;

}
.slick-next {
  border-radius: 0 100px 100px 0;  
}


.slick-arrow.slick-hidden {
    display: none;
}
.slick-dots {
        text-align: center;
    list-style: none;
    margin: 66px 100px 0;
    li {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 114px;
        position: relative;
        padding: 5px;
        cursor: pointer;
        border: 1px solid transparent; 
        border-radius: 50%;
        &:before, &:after {
            content: '';
            display: block;
            left: calc(100% + 1px);
            top: 50%;
            transform: translateY(-50%);
            background: #444;
            height: 1px;
            z-index: 0;
            width: 115px;
            position: absolute;
        }
        &:after {
            z-index: 1;
            background: $color-active;
            transition: transform .6s ease-in;
            transform: scale(0);
            transform-origin: 0 0
        }
        &:last-child {
            margin-right: 0;
            &:before, &:after {
                display: none
            }
        }
        &:hover button:before {
            background: $color-active;
            border-color: $color-active
        }
    }
    button {
        text-indent: -99999px;
        font-size: 0;
        padding: 0;
        background: transparent;
        border: 0;
            width: 7px;
            height: 7px;
        vertical-align: top;
        border-radius: 50%;
        border: 2px solid #444;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) ;       
        &:before {
            content: '';
            background: transparent;
            display: block;
            border-radius: 50%;
            padding: 0;
            width: 4px;
            height: 4px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) ; 
            transition: background .3s ease-in, border .3s ease-in;
        }

    }
    .slick-active {
            border-color: $color-active;
            button {
                border-color: transparent;
                &:before {
                    background: $color-active;
                }
            }
        &:after {
            transform: scale(1)
        }
    }
} 
.slick-disabled, .slick-disabled:hover {
    opacity: 0.3;
    cursor: default;
    &:before {
        transform: scale(0);
    }
}


.slick-arrow-2 {
    background: none;
    color: #17181C;
    width: 20px
}
.web .slick-arrow-2:hover {
    color: $color-active;
    background: transparent
}