@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra-Light/Effra-Light.eot');
    src: url('../fonts/Effra-Light/Effra-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Effra-Light/Effra-Light.woff2') format('woff2'),
    url('../fonts/Effra-Light/Effra-Light.woff') format('woff'),
    url('../fonts/Effra-Light/Effra-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra/Effra.eot');
    src: url('../fonts/Effra/Effra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Effra/Effra.woff2') format('woff2'),
    url('../fonts/Effra/Effra.woff') format('woff'),
    url('../fonts/Effra/Effra.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra-Italic/Effra-Italic.eot');
    src: url('../fonts/Effra-Italic/Effra-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Effra-Italic/Effra-Italic.woff2') format('woff2'),
    url('../fonts/Effra-Italic/Effra-Italic.woff') format('woff'),
    url('../fonts/Effra-Italic/Effra-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra-Medium/Effra-Medium.eot');
    src: url('../fonts/Effra-Medium/Effra-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Effra-Medium/Effra-Medium.woff2') format('woff2'),
    url('../fonts/Effra-Medium/Effra-Medium.woff') format('woff'),
    url('../fonts/Effra-Medium/Effra-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/Effra-Bold/Effra-Bold.eot');
    src: url('../fonts/Effra-Bold/Effra-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Effra-Bold/Effra-Bold.woff2') format('woff2'),
    url('../fonts/Effra-Bold/Effra-Bold.woff') format('woff'),
    url('../fonts/Effra-Bold/Effra-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: 'icomoon';
  font-display: block;
  src:  url('../fonts/icomoon/icomoon.eot?ihyadm');
  src:  url('../fonts/icomoon/icomoon.eot?ihyadm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?ihyadm') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?ihyadm') format('woff'),
    url('../fonts/icomoon/icomoon.svg?ihyadm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
    font-display: swap;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

