
        <div class="section-services">
          <div class="wrapper">
            <div class="h2-decor wow fadeInLeftShort">Услуги</div>
            <div class="services-main">
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.3s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_1.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_1_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Лазерная косметология</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Лазерная косметология</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                      <li> <a href="#">Микротоковая терапия</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.3s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_2.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_2_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Аппаратная косметология</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Аппаратная косметология</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                      <li> <a href="#">Микротоковая терапия</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.3s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_3.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_3_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Инъекционная косметология</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Инъекционная косметология</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                      <li> <a href="#">Микротоковая терапия</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.3s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_4.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_4_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Эстетическая косметология</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Эстетическая косметология</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.5s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_5.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_5_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Остеопатия</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Остеопатия</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                      <li> <a href="#">Микротоковая терапия</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.5s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_6.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_6_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Массаж</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Массаж</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.5s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_7.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_7_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Генетические тесты</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Генетические тесты</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                      <li> <a href="#">Микротоковая терапия</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="services-main__item  wow fadeInUpShort" data-wow-delay="0.5s">
                <div class="services-main__card">
                  <div class="services-main__picture">
                    <img src="img/services/service_8.jpg" alt="" class="js-lazy" />
                    <div class="img-hover">
                      <img src="img/services/service_8_active.jpg" alt="" class="js-lazy" />
                    </div>
                  </div>
                  <div class="services-main__head"><span>Консультации специалистов</span>
                  </div>
                  <div class="services-main__list">
                    <div class="services-main__head"><a href="#">Консультации специалистов</a>
                    </div>
                    <ul>
                      <li> <a href="#">Вакуумно-роликовый массаж</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                      <li> <a href="#">Микротоковая терапия</a>
                      </li>
                      <li> <a href="#">Радиоволновые методы (RF лифтинг</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>