.main-wrapper {
	padding: 0;
	min-width: $min-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	transition: filter .3s ease-out;
}

.wrapper {
	min-width: $min-width;
	max-width: $max-width;
	padding-right: 5rem;
	padding-left: 5rem;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.slider-wrapper {
	padding-left: calc(50% - 63.9rem)
}


/* titles */

p {
	padding: 1rem 0;
}
h1 {

	font-weight: 400;
	font-size: 5.1rem;
	line-height: 1.3;
	letter-spacing: 0.065em;
	text-transform: uppercase;
	color: rgba(#272A35, 0.8);
	margin-bottom: 3rem
}
h2, .h2 {
	font-weight: 400;
	font-size: 3.4rem;
line-height: 1.2;
letter-spacing: 0.07em;
text-transform: uppercase;

color:rgba(#272A35,.8);
margin-bottom: 2.5rem
}
.h2 {
	margin-bottom: 1rem
}
.h2-decor {
	position: relative;
	//font-weight: 300;
	font-weight: 400;
	font-size: 5.1rem;
	line-height: 1.3;
	letter-spacing: 0.065em;
	text-transform: uppercase;
	color: rgba(#272A35, 0.8);
	padding-left: 8.6rem;
	margin-bottom: 9.2rem;
	&:after {
		content: '';
		display: block;
		width: 5.6rem;
		background: #53545D;
		height: 1px;
		position: absolute;
		left: 0;
		top: 2.4rem;
	}
}


/* text position */

.text-left {
	text-align: left!important
}

.text-center {
	text-align: center!important
}

.text-right {
	text-align: right!important
}

.nowrap {
	white-space: nowrap!important;
}

.center {
	text-align: center;
}

.loaded .main-wrapper {
	opacity: 0
}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.content {
	min-width: $min-width;
	text-align: left;
	width: 100%;
	order: 2;
	flex-grow: 1;
	padding-top: 15rem;
	position: relative;
}

.btn {
	background: #FFF4E0;
	border-radius: 100rem;
	border: 0;
	font-family: $base-font-family;
	cursor: pointer;
	height: 7.7rem;
	display: inline-block;
	font-weight: bold;
	font-size: 1.4rem;
	line-height: 8.2rem;
	text-align: center;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	padding: 0 1.5rem;
	color: #242426;
}
.btn-2 {
background: #0F0F10;
	border-radius: 100rem;
	border: 0;
	font-family: $base-font-family;
	cursor: pointer;
	height: 7.7rem;
	line-height: 8.2rem;

	display: inline-block;
	font-weight: bold;
	font-size: 1.3rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0 1.5rem;
	color: #fff;	
}
.web {
	.btn:hover {
		background: #FFEDCC;
	}
	.btn-2:hover {
		background: #FFEDCC;
		color: #242426;
	}
}

.scroll-unvisible {
	position: relative;
	.os-scrollbar {
		opacity: 0 !important
	}
	.os-viewport {
		padding-right: 0
	}
	&.js-scroll:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 4.5rem;
		bottom: 0;
		background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,.8) 70%,rgba(255,255,255,0) 100%);
		z-index: 10;
		pointer-events: none
	}	

	&.os-host-scrollbar-vertical-hidden {
		&:before {
			display: none;
		}
	}
}
.checkbox-element {
    cursor: pointer;
    position: relative;
    display: inline-flex;
     input {
    flex-shrink: 0;
    display: inline-block;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 0;
}
}
.check {
    position: relative;
    display: block;
width: 26px;
height: 26px;
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
    left: 0;
    top: -0.3rem;
    padding: 0;
    display: block;
background: #FFFFFF;
border: 2px solid #EDEDED;

		font-family: icomoon;
	    &:before {
	    top: 50%;
	    left: 50%;
	    position: absolute;
	    transform: translate(-50%,-50%);
	    font-size: 1.1rem;
	    color: #fff;
			@extend .icon-check:before;
		}
}
.checkbox-element  input:checked ~ .check-label .check{

	background: $color-active;
	border-color: $color-active;
}
.list-decor {
	ul {
		list-style: none;
	}
	li {
		list-style: none;
		padding-bottom: 2.2rem;
		position: relative;
		padding-left: 3rem;
		&:before {
			content: '';
			display: block;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: .18rem;
			width: 1.2rem;
			height: 1.2rem;
			background: #FFDFA5;
			border-radius: 10rem;
		}
	}
}

.list-decor-2 {
	ul {
		columns: 2;
		column-gap: 2.5rem;
	}
	li {
		break-inside: avoid;
	}
}

.form-control {
	color: #000;
	height: 70px;
	color: #000;
	background: #FFFFFF;
	padding-left: 2.6rem;
	padding-right: 2.6rem;
	font-size: 1.6rem;
	line-height: 1.9rem;
	line-height: 1;
	font-family: $base-font-family;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10rem;
	transition: border-color .3s ease-in;
	box-shadow: none;
	padding-top: 1rem;
	&:focus {
		border-color: $color-active;
		border-width: 2px;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
	&.arror {
		border-color: red
	}
}

::-webkit-input-placeholder {
	color: $placeholder;
	line-height: 1;
}

::-moz-placeholder {
	color: $placeholder;
	line-height: 1;
}

:-moz-placeholder {
	color: $placeholder;
	line-height: 1;
}

:-ms-input-placeholder {
	color: $placeholder;
	line-height: 1;
}
textarea.form-control {
	border-radius: 35px;
	height: 14.6rem;
	    padding-top: 2.8rem;
	padding-bottom: 2rem;
	line-height: 1.25;
}
	input.form-control_lg {
		height: 70px;
	}
	div.form-control_lg {
		.jq-selectbox__select {
		    height: 7rem;
		    line-height: 5.6rem;
		}
		.jq-selectbox__trigger-arrow {
		    top: 2.8rem;
		}
	}
label.error {
	color: red;
	font-size: 1.35rem;
	margin: 0.5rem 0 0 1.5rem;
	display: block;
}
.checkbox-element label.error {
	position: absolute;
	left: 0;
	top: 3rem;
	margin: 0;
	white-space: nowrap;
}
.box-field {
	margin-bottom: 3.2rem;
}
.box-field__label {
	font-size: 1.45rem;
	    margin-bottom: 0.5rem;
	    color: #161617;
}
.box-field_checkbox {
	display: flex;
	align-items: center;
	.checkbox-element {
		margin-right: 1.2rem;
	}
	a {
		font-size: 1.4rem;
		line-height: 1.21;
		color: #161617;
		opacity: 0.5;
	}
}

.web .box-field_checkbox a:hover {
	opacity: 1
}

.arrow-scroll {
	position: fixed;
	left: 4rem;
	bottom: 7rem;
	z-index: 100;
	overflow: hidden;
	font-size: 1.2rem;
	line-height: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	transform: rotate(-90deg);
	transform-origin: 0 0;
	cursor: pointer;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	transition: filter .3s ease-out;
	.arrow-up {
		display: none;
	}
	&.arr-up {
		.arrow-down {
			display: none;
		}
		.arrow-up {
			display: flex;
			flex-direction: row-reverse;
		}
	}
}

.arrow-down,
.arrow-up {
	display: flex;
	&:before {
		content: '';
		width: 5.6rem;
		height: 1px;
		display: block;
		background: #000;
		margin: .5rem 2.5rem 0;
	}
}

.scrollDisabled {
	overflow: hidden;
	position: fixed !important;
	margin-top: 0;
	width: 100%;
	z-index: 0;
}

.scrollDisabled.web,
.scrollDisabled.web.compensate-for-scrollbar {
	padding-right: 17px;
	header {

	padding-right: 17px
	}
}

.scrollDisabled .main-wrapper {
	overflow: visible;
}
.hide {
	display: none !important
}

@media screen and (min-width: 1701px) {
	.arrow-scroll {
		left: calc(50vw - 810px);
	}
}

@media screen and (min-width: 768px) {
	.mob-show {
		display: none
	}
}
@media screen and (min-width: 1024px) {

	.form-control_lg {
		font-size: 1.7rem
	}
}
@media screen and (min-width: 1024px) and (max-height: 700px) {
	.arrow-scroll {
		bottom: 0
	}
}

@media screen and (max-width: 1495px) {
	.arrow-scroll {
		left: 2rem
	}
}
@media screen and (max-width: 1365px) {
	.wrapper {
		padding-left: 25px;
		padding-right: 25px
	}
	.arrow-scroll {
		left: 25px
	}
	h1, .h2-decor {
		font-size: 4.1rem;
		line-height: 4.8rem;
	}
	.arrow-scroll {
    left: 9px;
}
}
@media screen and (max-width: 1199px) {
h1,.h2-decor {
    font-size: 3.7rem;
    line-height: 4.3rem;
}
}

@media screen and (max-width: 960px) {
	.h2-decor {
		font-size: 3.4rem;
		line-height: 3.8rem;
		padding: 0 0 1.8rem;
		margin-bottom: 6rem;
		&:after {
			top: auto;
			bottom: 0;
		}
	}
	h1 {
		font-size: 3.4rem;
		line-height: 3.8rem;
	}
}
@media screen and (max-width: 767px) {
	.mob-hide,
	.arrow-scroll {
		display: none
	}
	h2, .h2 {
	font-size: 2.8rem;
}

}

@media screen and (max-height: 800px),  (max-width: 767px) {

	.form-control {
    height: 60px;
    padding-top: 0.5rem
}
}
@media screen and (max-height: 800px) {
	input.form-control_lg {
		height: 7rem;
	}
	div.form-control_lg {
		.jq-selectbox__select {
		    height: 7rem !important;
		    line-height: 5.6rem;
		}
		.jq-selectbox__trigger-arrow {
		    top: 2.8rem;
		}
	}
}
@media screen and (max-width: 374px) {
.wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
}