footer {
	padding: 0 0 3.9rem;
	order: 3;
	position: relative;
	z-index: 3;
	overflow: hidden;
	font-size: 1.4rem

}

.footer-menu {
	ul,
	li {
		list-style: none;
	}
	ul {
		columns: 3;
		column-gap: 3.5rem;
	}
	li {
		display: block;
		break-inside: avoid;    padding-bottom: 1.2rem;

	}
	&_main {
		ul {
			columns: 2
		}
	}
	a {
		//font-weight: 300;
		font-size: 1.5rem;
		line-height: 1.2;
		color: #272A35;
		opacity: 0.7;
		transition: opacity .3s ease-in;
	}
}
.footer-menu-col {
	width: 62%
}
.footer-menu-col+.footer-menu-col {
	padding-left: 4.2rem;
	width: 37%
}

.web {
	.footer-menu a:hover {
		opacity: 1
	}
}

.footer-top {
	margin-top: 4.9rem;
	display: flex;
	align-items: flex-start;
}
.footer-bottom {
    margin-top: 0.1rem;
    padding-top: 3.3rem;
    font-size: 1.5rem;
	line-height: 1.43;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&__left {
		padding-right: 2rem;
		padding-top: 0.6rem;
		display: flex;
		align-items: center;
	}
	&__right {
		display: flex;
		align-items: center;
	}
}

.footer-top + .footer-bottom {

	border-top: 1px solid rgba(#53545D, .2);
	margin-top: 2.1rem
}
.copyrights {
	color: rgba(#000, .5);
	margin-right: 2.2rem;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	div {
		
		margin-right: 3.1rem;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		color: rgba(#000, .5);
	}
}

.socials {
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	a {
		color: #0F0F10;
		i {
			transition: color .3s ease-in
		}
	}
	.icon-vk {
		font-size: 1.2rem;
	}
}

.footer__socials {
	.socials {
		padding-top: 0.3rem;
	}
	.socials__item {
		    margin-left: 2.05rem;
		margin-right: 0
	}
}

.web {
	.socials a:hover {
		i.icon-fb {
			color: #3b5998;
		}
		i.icon-vk {
			color: #45668e;
		}
		i.icon-instagram {
			color: #e1306c;
		}
	}
	.footer-links a:hover {
		color: #000;
	}
}

.footer-title {
	font-weight: bold;
	font-size: 1.45rem;
	line-height: 1.214;
	margin-bottom: 2.4rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #272A35;
}

.footer-mail {
	color: #000;
	font-size: 1.6rem;
	line-height: 1.1875;
	margin-right: 2.2rem
}
@media screen and (max-width: 1200px) {
	.footer-menu-col {
	width: 66%
}
.footer-menu-col+.footer-menu-col {
	width: 34%
}
}
@media screen and (max-width: 960px) {
.footer-bottom__left {
	display:block
}
.footer-links {
	margin: 1.5rem 0 0
}
	.footer-menu ul {
 
    columns: 2;
}
.footer-menu_main ul {
    columns: 1;
}
	}

@media screen and (max-width: 767px) {
	.footer-bottom {
		flex-direction: column-reverse;
		border: 0;
		padding-top: 0.3rem;
	}
	.footer-bottom__left {
		width: 100%;
		padding: 1.6rem 0 0;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	footer {
		padding: 0 0 3.9rem
	}
	.copyrights {
		margin-top: 2rem
	}
	.footer-top {
		margin-top: 3.9rem
	}
	.footer-top + .footer-bottom {
		border-top: 0
	}
}
@media screen and (max-width: 660px) {
	.footer-top {
		display: block;
	}
	.footer-menu-col {
	width: 100%
}
	.footer-menu-col + .footer-menu-col {
	padding-left: 0;
	width: 100%;
		margin:2.8rem 0 0
	}
	.footer-menu_main ul {
		columns: 2
	}

}
@media screen and (max-width: 440px) {
	.footer-menu ul {
		columns: 1
	}
	.footer-links {
		display: block;
		div + div {
			margin-top: 2rem
		}
	}
}