.header {
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100;
	font-size: 1.4rem;
	color: #000;
	.wrapper {
		max-width: 1824px;
		&:after {
			display: none;
		}
	}
}

	.header.fixed, .header-inner .header {
		position: fixed;
		z-index: 100;
		height: 15.7rem;
		.header-main {
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -6rem;
				top: 0;
				bottom: -5.8rem;
				width: 5000px;
				background: #E6E7EC;
				box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.05);
				border-radius: 0px 0px 0px 65px;
			}
		}
		.header-right {
			position: relative;
		}
		.menu-services:before {
			bottom: -5.8rem;
			border-radius: 0
		}
		.header-address {
			display: none;
		}
		.header-links {
			margin-top: -0.5rem
		}
		.header-links .dropdown-wrapper+.dropdown-wrapper {
			margin-left: 5.1rem;
		}
		.header-contacts {
			margin-left: 12.2rem;
		}
	}
	.header.fixed {
		background-color: rgba(255, 255, 255, .7);
		.logo img {
			max-width: 8rem;
			margin-top: 1rem
		}
		.nav-logo {
			padding-top: 1.6rem;
		}

	}
.header-wrapper {
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.header-main {
	padding-top: 7.65rem;
	width: calc(100% - 26.2rem);
	display: flex;
	justify-content: space-between;
}

.nav-logo {
	padding-top: 7.6rem;
	width: 15rem;
	padding-left: 0.5rem
}

.header-navs {
	display: flex;
	margin-top: .1rem;
}

.menu-wrap {
	margin-right: 11.4rem;
}

.menu-head {
	font-weight: bold;
	font-size: 1.4rem;
	line-height: 1;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	position: relative;
	color: #000;
	cursor: pointer;
	display: flex;
	align-items: center;
	.menu-icon {
		top: -.1rem;
		position: relative;
	}
}
.web .menu-services:before {
	transition: all .3s ease
}
.web .menu-services:hover:before {
		border-radius: 0
}
.web .menu-wrap .menu-head .menu-icon span {
	transition: width .3s ease
}
.web .menu-wrap .menu-head:hover .menu-icon span{
	&:before, &:after, & {
		width: 16px
	}
}
.menu-icon {
	margin-right: 23px;
	width: 16px;
	height: 12px;
	display: flex;
	align-items: center;
	span {
		width: 11px;
		display: block;
		background: #000;
		height: 1px;
		position: relative;
		&:before {
			content: '';
			display: block;
			background: #000;
			height: 1px;
			width: 16px;
			bottom: 5px;
			position: absolute;
			left: 0;
		}
		&:after {
			content: '';
			display: block;
			background: #000;
			height: 1px;
			width: 6px;
			top: 5px;
			position: absolute;
			left: 0;
		}
	}
}

.menu-services-icon {
	margin-right: 2.2rem;
	font-size: 1.2rem;
	position: relative;
	top: -0.2rem;
}

.header-nav {
	position: relative;
	&.open {
		z-index: 1001;
		.menu-head {
			z-index: 11
		}
		.menu-list {
			display: block;
			z-index: 10
		}
	}
}

.menu-list {
	display: none;
	position: absolute;
	left: -9.6rem;
	top: -7.9rem;
	background-color: #E6E7EC;
	max-height: 100vh;
	overflow: auto;
}
.web .menu-wrapper li.hovered > a {
	background: #FFF4E0;
}
.web {
	.menu-list {
		a {
			&:hover {
				background: #FFF4E0;
			}
		}
	}
}

.header-navs-wrap {
	display: flex
}

.overlay-header {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	right: 0;
	background: rgba(210, 212, 221, 0.84);
	backdrop-filter: blur(20px);
	z-index: 1;
	display: none;
}

.open-header {
	.header-navs {
		position: relative;
		z-index: 100;
	}
	.arrow-scroll {
		display: none;
	}
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
	ul {
		background: #fff;
		list-style: none;
		padding-bottom: 4rem;
	}
	li {
		list-style: none;
		ul {
			background: #E6E7EC;
			position: absolute;
			padding-top: 13.2rem;
			left: 0;
			top: 0;
			bottom: 0;
			width: 38.8rem;
			display: none;
			overflow: auto;
			transform: translateX(53rem);
			a {
				font-size: 1.4rem;
				padding: 3.05rem 3.9rem 2.15rem 6.4rem;
			}
		}
		&:hover {
			ul {
				display: block;
			}
		}
	}
	a {
		//font-weight: 300;
		font-size: 1.7rem;
		line-height: 1.25;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: rgba(#272A35, 0.8);
		display: block;
		padding: 3.25rem 9.6rem 2.35rem;
	}
	&>ul {
		width: 53rem;
		position: relative;
		padding-top: 12.4rem;
	}
	i {
		font-size: .6rem;
		padding: 1.4rem 1rem 1.3rem;
		display: none;
	}
}

.img-menu {
	position: relative;
	width: calc(100% - 53rem);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	opacity: 0;
	&.shown {
		opacity: 1
	}
}

.menu-services {
	&:before {
		content: '';
		background: #FFF5E0;
		border-radius: 0px 0px 1000px 1000px;
		display: block;
		position: absolute;
		left: -5.5rem;
		right: -7.2rem;
		top: -8rem;
		bottom: -1.9rem;
		z-index: 0
	}
	.menu-head i {
		top: -2px;
		display: inline-block;
		position: relative;
	}
}

.cat-hover .img-menu {
	width: calc(100% - 923px)
}

.header-right {
	display: flex;
	align-items: flex-start;
}

.header-callbacks {
	margin-top: -0.3rem;
	display: flex;
	align-items: center
}

.header-callback {
	cursor: pointer;
	font-size: 1.4rem;
	line-height: 1.2;
	text-transform: uppercase;
	color: #000;
	margin-right: 8.1rem;
	letter-spacing: 0.009em;
	position: relative;
	padding: .5rem 0;
	&:before {
		content: '';
		display: block;
		position: absolute;
		background: #000;
		width: 1.3rem;
		height: 2px;
		transition: width .3s ease-in;
		bottom: 0;
		left: 0;
	}
}

.web .header-callback:hover:before {
	width: 4.5rem;
}

.header-address {
	white-space: nowrap;
	margin-bottom: 2.55rem;
	line-height: 1.21;
	color: #000;
	address {
		display: inline-block;
		font-style: normal;
		margin-right: 1.2rem;
		letter-spacing: 0.03em;
	}
}

.header-links {
	font-size: 1.7rem;
	margin-right: -0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.dropdown-wrapper+.dropdown-wrapper {
		margin-left: 4.1rem;
	}
}

.header-contacts {
	margin-left: 5.8rem;
}

.hamburger-box {
	padding: .3rem 0 0 1.5rem;
	background: #FFF4E0;
	border-radius: 0px 0px 0px 6rem;
	width: 17.7rem;
	height: 12.5rem;
	display: none;
	cursor: pointer;
	position: absolute;
	right: -25px;
	top: 0;
	z-index: 10;
	font-weight: bold;
	font-size: 1.45rem;
	text-transform: uppercase;
}
.ios .hamburger-box {
		right: 0;
}
.hamburger-inner {
	margin-right: 2.2rem;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
	width: 11px;
	height: 1px;
	background: #000;
}

.hamburger-inner {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2
}

.hamburger-inner:after,
.hamburger-inner:before {
	position: absolute;
	display: block;
	content: "";
	left: 0;
	transform-origin: 50% 50%
}

.hamburger-inner:after {
	bottom: -5px;
	width: 5px
}

.hamburger-inner:before {
	top: -5px;
	width: 16px;
}

.active {
	.hamburger-inner,
	.hamburger-inner:after,
	.hamburger-inner:before {
		width: 19px;
	}
}

.active .hamburger-inner {
	background: transparent;
}

.active .hamburger-inner:before {
	transform: rotate(-45deg);
	top: 0;
}

.active .hamburger-inner:after {
	transform: rotate(45deg);
	bottom: 0;
}

.header-contacts_mob {
	display: none;
}

@media screen and (min-width: 1200px) {
	.md-show {
		display: none;
	}
}
@media screen and (max-width: 1770px) {
.header-inner .nav-logo {
    padding-top: 1rem;
}
}
@media screen and (max-width: 1599px) {
	.header-callback {
		margin-right: 5rem
	}
	.header-main {
		padding-top: 5.65rem;
	}
	.nav-logo {
		padding-top: 5.6rem;
	}
	.header.fixed, .header-inner .header  {
		height: 13.75rem;
	 	.header-contacts {
			margin-left: 6.2rem;
		}
	}
}

@media screen and (max-width: 1499px) {
	.header-main {
		width: calc(100% - 21rem);
	}
	.menu-wrap {
		margin-right: 10.4rem;
	}
	.header-contacts {
		margin-left: 4.8rem;
		padding-top: 0.3rem;
	}
}

@media screen and (max-width: 1439px) {
	.header-contacts {
		margin-left: 1.8rem;
	}
	.header.fixed, .header-inner .header {
		.header-contacts {
			margin-left: 1.2rem;
		}
	}
}
@media screen and (max-width: 1440px) {
	.menu-wrapper > ul {
		    width: 46rem;
	}
	.menu-wrapper a {
		padding-right: 3rem
	}
	.img-menu {
		    width: calc(100% - 46rem);
	}
	.menu-wrapper li ul {
		transform: translateX(46rem);
		width: 32rem
	}
	.cat-hover {

	.img-menu {
		    width: calc(100% - 78rem);
	}
	.menu-wrapper li ul a {
		padding-left: 2.5rem;
		padding-right: 2.5rem
	}
	}
}
@media screen and (max-width: 1365px) {
	.menu-wrap {
		margin-right: 8.4rem;
	}
	.header-main {
		width: calc(100% - 19rem);
	}
	.header-links {
		font-size: 1.5rem;
		margin-right: -0.2rem;
	}
	.main-bl__picture {
		right: -8rem;
	}
}
@media screen and (max-width: 1250px) {
.menu-services:before {
left: -3rem;
    right: -3.2rem;
}
}
@media screen and (max-width: 1199px) {
	.lg-show {
		display: none;
	}
	.menu-box {
		justify-content: flex-start;
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 122px;
	}
	.hamburger-box {
		display: flex;
		align-items: center;
		justify-content: center;
		&.active {
			width: 7.1rem;
			height: 7.1rem;
			border-radius: 0px 0px 0px 40px;
			z-index: 101;
			right: 0;
			span {
				display: none;
			}
			.hamburger-inner {
				margin-right: 0;
				transform: translate(-31%, -70%);
			}
		}
	}
	.menu-box {
		background: #007FBA repeating-linear-gradient(180deg, transparent, transparent calc(11.11vw - 1px), rgba(252, 238, 33, 0.1) calc(11.11vw - 1px), rgba(252, 238, 33, 0.1) 11.11vw);
		right: 0;
		position: fixed;
		overflow: auto;
		top: 0;
		padding: 142px 20px 80px;
		width: 100%;
		bottom: 0;
		left: 0;
		margin-left: 0;
		transform: translate(100%, 0);
		transition: all .5s ease-out;
		align-items: flex-start;
		visibility: hidden;
		flex-shrink: 0;
		z-index: -1;
		&.active {
			transform: translate(0, 0);
			z-index: 1;
			visibility: visible;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: repeating-linear-gradient(90deg, transparent, transparent calc(11.11vw - 1px), rgba(252, 238, 33, 0.1) calc(11.11vw - 1px), rgba(252, 238, 33, 0.1) 11.11vw);
			pointer-events: none
		}
	}
	.menu-wrapper li:hover ul {
		display: none;
	}
	.main-menu {
		margin-left: 48px;
		flex-shrink: 0
	}
	.main-menu li {
		display: block;
		margin: 10px 0
	}
	.main-menu li a {
		font-weight: bold;
		font-size: 28px;
		line-height: 130%;
		padding: 2px 0;
		color: #fff;
		&:hover {
			color: #fff
		}
	}
	.main-menu li.active a,
	.main-menu li.current-menu-item a {
		color: #3FF96F;
		&:hover {
			color: #3FF96F;
		}
	}
	.header.active {
		.link-configarator,
		.header-search-wrap {
			opacity: 0;
			visibility: hidden
		}
		.nav-logo {
			z-index: 10
		}
	}
	.header-right {
		width: 100%;
		justify-content: flex-end;
	}
	.header-navs {
		position: fixed;
		right: 100%;
		transition: right .5s ease;
		top: 0;
		bottom: 0;
		left: auto;
		width: 100%;
		overflow: auto;
		overflow-x: hidden;
		background: #fff;
		&.active {
			right: 0;
		}
	}
	.header-main {
		padding-top: 5.65rem;
		padding-right: 16rem
	}
	.nav-logo {
		padding-top: 2.6rem;
	}
	.header-wrapper {
		min-height: 12.5rem
	}
	.header.fixed, .header-inner .header{
		 .logo img {
		margin-top: 0
		}
	}
	body:not(.open-header) .header.fixed, body.header-inner:not(.open-header) .header {
		.header-main:before {
			bottom: -3.55rem
		}
		.hamburger-box {
			padding: 0;
			width: 15.7rem;
			height: 9.6rem;
			border-radius: 0
		}
		.header-wrapper {
			min-height: 9.6rem;
		}
		.nav-logo {
			padding-top: 1.4rem;
		}
	.header-main {
		padding-top: 3.65rem;
	}
	}
	.header.fixed, .header-inner { .logo img {
		max-width: 5.6rem;
	}
	}
	.header-wrapper .wrapper,
	.header.fixed .header-right, .header-inner .header-right {
		position: static;
	}
	.header-contacts {
		display: none;
	}
	.open-header .header-navs {
		position: fixed;
		display: block;
	}
	.overlay-header,
	.img-menu {
		display: none !important;
	}
	.header-navs-wrap {
		flex-direction: column-reverse;
	}
	.header-contacts_mob {
		display: block;
		padding: 3rem 2.6rem 3.5rem;
		margin: 0;
	}
	.header-callbacks_mob {
		display: none;
	}
	.header-callback {
		font-weight: 700;
		letter-spacing: 0.029em;
		margin-right: 3rem;
		&:last-child {
			margin-right: 0;
		}
	}
	.header-callback {
		min-width: 14.5rem
	}
	.menu-services:before {
		display: none;
	}
	.header-address {
		margin-bottom: 3.15rem;
	}
	.header-address address {
		display: block;
		margin-bottom: 0.8rem;
	}
	.header-links {
		justify-content: flex-start;
		font-size: 1.7rem;
		.dropdown-wrapper+.dropdown-wrapper {
			margin: 0 0 0 6rem
		}
		.dropdown-head i {
			margin-left: .8rem;
			transform: rotate(-90deg);
			display: inline-block;
			position: relative;
	
		}
		.open {
			.dropdown-head i {
				transform: rotate(0deg);
			}
		}
		.dropdown {
			left: -3rem;
			right: auto;
		}
		.dropdown-wrapper {
			min-width: 14.5rem;
		}
	}
	.header-links .dropdown-wrapper {
		margin-right: 3rem;
		letter-spacing: -0.03em;
	}
	.header-links .dropdown-wrapper+.dropdown-wrapper {
		margin: 0;
	}
	.header-nav {
		padding: 4rem 0 1.8rem
	}
	.menu-services {
		background: #E6E7EC;
	}
	.menu-services .menu-head i,
	.menu-head .menu-icon {
		display: none;
	}
	.menu-list {
		display: block;
		position: static;
		overflow: visible;
		max-height: none
	}
	.menu-wrapper>ul {
		padding: 1.3rem 0 0;
		width: 100%;
		background: transparent;

	}
	.menu-head {
		padding: 0 2.9rem;
		font-size: 1.7rem
	}
	.menu-wrapper a {
		font-size: 1.4rem;
		padding: 2rem 4.2rem 1.4rem 1.7rem;
	}
	.menu-wrap {
		.menu-list {
			background: transparent;
		}
	}
	.header.fixed, .header-inner {
		.header-links .dropdown-wrapper+.dropdown-wrapper {
			margin-left: 0;
		}
		.hamburger-box {
			right: -26px;
		}
	}
.header-inner .header .header-links .dropdown-wrapper + .dropdown-wrapper {
	margin-left: 0
}
	.menu-wrapper i {
		display: inline-block;
		transform: rotate(-90deg);
		position: absolute;
    right: 1.4rem;
    top: 1.2em;
		z-index: 10
	}
	.menu-wrapper li {
		position: relative;
		li {
			margin-left: 0
		}
	}
	.menu-wrapper > ul > li > a {
		padding-left:  3rem
	}
	.menu-wrapper li.has-children {
		border-radius: 20px 0px 0px 20px;
	}
	.menu-wrapper li ul {
		background: transparent;
	}

	.menu-wrapper li.opened {
		i {
			transform: rotate(0deg);
		}
		&:before {
			content: '';
			border-radius: 2rem 0px 0px 2rem;
			display: block;
		background: #FFF4E0;
    left: 1.3rem;
    top: -0.5rem;
    right: 0;
    bottom: -0.5rem;
			position: absolute;
			z-index: 0
		}
		a {
			position: relative;
			z-index: 1
		}
	}
	.menu-wrapper li ul {
		position: static;
		transform: none;
		display: none;
		padding: 0;
		width: 100%;
		margin-top: -0.9rem;
	}
	.active .hamburger-inner,
	.active .hamburger-inner:after,
	.active .hamburger-inner:before {
		width: 12px;
		border-radius: 20px;
		height: 2px;
	}
	.menu-wrapper li ul a {
font-size: 1.22rem;
    padding: 2.1rem 3.9rem 1.45rem 3.1rem;
	}
	.header.fixed, .header-inner { .header-contacts_mob {
		margin-left: 0;
		.header-address {
			display: block;
		}
	}
	}
body:not(.open-header) .header.fixed .header-main:before, body.header-inner:not(.open-header) .header .header-main:before {
    bottom: -3.65rem;
}
	.header.fixed, .header-inner .header {
		height: 9.6rem
	}
	.header-inner .header .header-contacts {
		margin-left: 0
	}
}
@media screen and (max-width: 1023px) {
.ios.safari {
	.header-links .dropdown-head i {
		top: 0.2rem;
	}
	.menu-wrapper i {
		top: 1.6rem;
	}
	.menu-wrapper a {
		letter-spacing: inherit;
	}
}
}
@media screen and (max-width: 767px) {
	.hamburger-box {
		right: 0;
	}
	.logo {
		max-width: 80px;
		display: block;
	}
	.header.fixed, .header-inner .header {
		background: #fff;
		height: 9.6rem
	}
}

@media screen and (max-width: 715px) {
	.header-callbacks {
		display: none;
		&_mob {
			display: flex;
			margin-bottom: 3.2rem
		}
	}
	.nav-logo {
		padding-left: 11%;
	}
	.header.fixed, .header-inner {
		.header-links {
			margin-top: 0;
		}
		.nav-logo {
			padding-left: 6.2rem;
		}
	}
	.header.fixed, .header-inner .header  { 
		.header-main:before {
		display: none;
	}
	}
	.header-callback:before {
		display: none;
	}
}

@media screen and (max-width: 374px) {
	.header-contacts_mob {
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}
	.header-links .dropdown-wrapper,
	.header-callback {
		min-width: 13.5rem;
		font-size: 1.4rem;
		margin-right: 2.5rem
	}
	.header-links .dropdown-wrapper {
		font-size: 1.5rem
	}
	.header.fixed, .header-inner { .hamburger-box {
		right: -15px;
	}
	}
}