.icon-arrow-next:before {
  content: "\e900";
}
.icon-arrow-prev:before {
  content: "\e901";
}
.icon-caret:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-menu-services:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-next:before {
  content: "\e909";
}
.icon-next-long:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-prev:before {
  content: "\e90c";
}
.icon-prev-long:before {
  content: "\e90d";
}
.icon-quote:before {
  content: "\e90e";
}
.icon-succses:before {
  content: "\e90f";
}
.icon-vk:before {
  content: "\e910";
}
