.inner-page .content {
    padding-top: 0
}

.head-inner {
    position: relative;
    overflow: hidden;
    padding-top: 19.3rem;
    color: #272A35;
    border-radius: 0px 0px 0px 30rem;
    overflow: hidden;
    &__heading {
        max-width: 59rem;
        width: 70%;
        padding-top: 3.8rem;
    }
    .section-text {
        margin-left: 1rem;
        color: inherit;
        letter-spacing: -0.007em;
        &>*:first-child:first-letter {
            margin-right: 0.8rem;
        }
    }
}

.bg-head {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 30rem;
    overflow: hidden;
    z-index: 0;
    &:before {
        content: '';
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 0px 0px 0px 30rem;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.h1-inner {
    font-size: 4.8rem;
    line-height: 1.33;
    padding-left: 8.9rem;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
    color: rgba(#272A35, 0.8);
    font-weight: 400
}

.wrapper-inner-head {
    z-index: 1
}

.head-inner__services {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 12.8rem -8rem 0 0;
    padding: 6.8rem 0 4rem 6rem;
    display: flex;
    justify-content: flex-end;
}

.breadcrumb {
    font-size: 1.45rem;
    line-height: 1.25;
    color: #272A35;
    margin-bottom: 4rem;
    a {
        color: inherit;
    }
}
.breadcrumb a:hover {
    color: #cca255
}

.breadcrumb-item:after {
    content: "/";
    margin: 0 5px;
}

.breadcrumb-item:last-child:after {
    display: none
}

.breadcrumb-item>span {
    color: #58595B;
}
.js-open-dropdown {
    cursor: pointer;
    transition: color 0.3s ease

}
.web .js-open-dropdown:hover  {
    color: #cca255 !important;
}
.list-services {
    position: relative;
    z-index: 1;
    font-size: 1.8rem;
    line-height: 1.22;
    max-width: 106rem;
    position: relative;
    ul {
        columns: 4;
        column-gap: 4rem;
    }
    a {
        color: #272A35;
    }
    li {
        break-inside: avoid;
        display: block;
        font-size: 1.95rem;
        padding-bottom: 2.1rem
    }
    &:before {
        content: '';
        width: 5000%;
        background: #FFF4E0;
        border-radius: 150px 0px 0px 0px;
        left: -13rem;
    top: -7rem;
    bottom: -7rem;
        z-index: 0;
        position: absolute;
    }
}

.services-main__text {
    font-size: 1.48rem;
    line-height: 1.4;
    color: #000;
    padding: 3.9rem 3.5rem .8rem;
}

.services-main_inner {
    .services-main__picture {
        position: relative;
        &:before {
            content: '';
            display: block;
            background: rgba(255, 248, 236, 0.4);
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: opacity .3s ease
        }
    }
    .services-main__card {
        &:hover {
            img {
                opacity: 1;
            }
            .services-main__picture:before {
                opacity: 0
            }
        }
    }
    .services-main__head span:after {
        display: none;
    }
    .services-main__item {
        padding-bottom: 8.3rem
    }
}

.services-main__price {
    font-size: 1.85rem;
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 0.6rem;
    padding-bottom: 1.2rem;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 3.5rem;
        height: 2px;
        left: 0;
        bottom: 0;
        background: #53545D;
        position: absolute;
        border-radius: 2px;
        margin-top: 1.5rem;
        transition: width .3s ease-in;
    }
}

.section-services-description {
    position: relative;
    padding-top: 15.2rem;
    .h2-decor {
        letter-spacing: 0.08em;
        max-width: 67rem;
        margin-bottom: 2.9rem;
    }
    .worth-img {
        padding-top: 1rem
    }
}

.worth__text-2 {
    max-height: 36.6rem;
    margin-right: 2rem;
    .os-viewport {
        padding-right: 5.9rem;
    }
}

.faq-list {
    margin-left: 8.8rem;
    max-width: 113.5rem
}

.faq-list__title {
    background: #fff;
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    font-size: 2.2rem;
    line-height: 2.6rem;
    letter-spacing: 0.1em;
    padding: 2.2rem 3rem 1.8rem 4.7rem;
    color: rgba(#272A35, 0.8);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow .3s ease
}

.web {
    .faq-list__title:hover {
        box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.2);
    }
}

.faq-list__item {
    margin-bottom: 25px;
}

.faq-list__icon {
    padding: 5px;
    color: #272A35;
    font-size: 25px;
}
.faq-list__item.active {
    .faq-list__icon i:before {
        @extend .icon-minus:before;
    }
}
.faq-list__info {
    padding: 4.7rem 0 4rem 5rem;
    display: none;
}

.section-price-direction {
    padding-top: 21rem;
    .h2-decor {
        margin-bottom: 5.7rem
    }
}

.services-price {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__head {
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #000;
        width: calc(100% - 473px);
        max-width: 67.2rem;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        flex-shrink: 10;
        flex-grow: 0
    }
    &__title {
        color: #000;
        font-size: 1.9rem;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 0.7rem;
    }
    &__action {
        height: 3rem;
        line-height: 3.4rem;
        text-transform: uppercase;
        margin-left: 2rem
    }
    &__counts {
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 1.8rem;
        line-height: 3rem;
        padding-top: 0.7rem;
    }
    &__right {
        margin-left: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 440px;
        flex-shrink: 0
    }
    &__counts-currency {
        font-weight: bold;
        letter-spacing: 0.15em;
    }
    &__new {
        color: rgba(#F43628, 0.8);
    }
    &__old-price {
        letter-spacing: 0.13em;
        color: rgba(0, 0, 0, 0.3);
        font-size: 1.5rem;
        margin-left: 1.1rem;
        position: relative;
        &:before {
            content: '';
            display: block;
            left: 0;
            right: 0;
            top: 40%;
            position: absolute;
            height: 1px;
            background: rgba(#000, 0.3);
        }
    }
    &__btn {
        margin-left: 2.1rem;
        flex-shrink: 0;
    }
}

.services-price__item+.services-price__item {
    margin-top: 0.95rem;
}

.btn_service-order {
    text-transform: uppercase;
    min-width: 200px;
    height: 5rem;
    line-height: 5.4rem;
}

.web .services-price__title:hover {
    color: rgba(#272A35, .7);
}

.section-excellence {
    padding-top: 19.5rem;
    .h2-decor {
        max-width: 86rem;
        letter-spacing: 0.37rem;
        margin-bottom: 3rem
    }
}

.excellence-wrap {
    margin: 0 0 0 8.5rem
}

.excellence {
    margin: 0 -23px 0 -22px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &__item {
        position: relative;
        padding: 0 23px 0 22px;
        width: 26.7%;
        margin-bottom: 5.1rem;
        &:nth-child(3n+2) {
            width: 42.8%;
        }
        &:nth-child(3n + 3) {
            width: 30.5%
        }
    }
    &__icon {
        position: absolute;
        left: 6.5rem;
        top: 3.33rem;
        pointer-events: none;
    }
    &__title {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 1.7rem 0 0 4.2rem;
        padding: 0.1rem 0 0 2.5rem;
        min-height: 4.9rem;
        display: flex;
        align-items: center;
        position: relative;
        &:before {
            content: '';
            display: block;
            left: 0;
            top: 0;
            bottom: 0;
            width: 6px;
            position: absolute;
            background: #FFDFA5;
        }
    }
}

.excellence-slider {
    &__el {
        display: block;
        height: 22.9rem;
        position: relative;
        border-radius: 40px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        &:before {
            content: '';
            display: block;
            background: #FFFFFE;
            opacity: 0.7;
            border-radius: 40px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            transition: opacity .3s ease
        }
    }
    .slick-arrow {
        background: transparent;
        color: #17181C;
        &:hover {
            background: transparent;
        }
    }
    .slick-prev {
        left: 1.8rem;
        margin: 0;
        bottom: 2.2rem;
    }
    .slick-next {
        left: 4.8rem;
        margin: 0;
        bottom: 2.2rem;
    }
}

.section-specialist_2 {
    margin-top:37.5rem;
}
.section-specialist_3 {
    margin-top: 14.5rem;
}
.loaded {
    .breadcrumb,
    .h1-inner,
    .head-inner__heading .section-text,
    .head-inner__services {
        transition: none;
    }
    .breadcrumb,
    .h1-inner,
    .head-inner__heading .section-text {
        opacity: 0;
        transform: translateX(-30px);
    }
    .head-inner__services {
        opacity: 0;
        transform: translateX(30px);
    }
}

.h1-inner {
    transition: opacity .8s ease .3s, transform .8s ease .3s
}

.head-inner__heading .section-text {
    transition: opacity .8s ease .7s, transform .8s ease .7s
}

.head-inner__services {
    transition: opacity .8s ease 1s, transform .8s ease 1s
}

.breadcrumb {
    transition: opacity .8s ease 1.3s, transform .8s ease 1.3s
}

.head-inner-2 {
    padding-top: 19.4rem;
    z-index: 0;
    position: relative;
    .wrapper {
        z-index: 2
    }
    .h2-decor {
        margin-top: 7.5rem;
        margin-bottom: 7.2rem;
    }
}

.head-decor-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 0px 30rem;
    overflow: hidden;
    height: 64.7rem;
    position: absolute;
    top: 0;
    left: calc(50% - 23.5rem);
    opacity: 0.2;
    top: 0;
    right: 0;
    z-index: 0;
    &:before {
        content: '';
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 0px 0px 0px 30rem;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
}

.head-decor {
    font-size: 36rem;
    line-height: 1.2;
    text-shadow: 0px 30px 45px rgba(0, 0, 0, 0.05);
    font-weight: 700;
    color: #fff;
    position: absolute;
    letter-spacing: 0.03em;
    right: -4rem;
    top: 21rem;
    z-index: 1;
    text-transform: uppercase;
}

.price-tabs-nav-wrap {
    overflow: hidden;
}

.price-tabs-nav {
    margin-left: calc(50% - 65.7rem);
    .specialist-nav {
        padding: 10px 0
    }
    .tabs-nav__link {
        letter-spacing: -0.05em;
        word-spacing: 0.08em;
    }
}

.price-tabs-wrap {
    margin-top: 6rem
}

.price-list {
    max-width: 100%;
    margin: 0;
    .services-price__title {
        text-overflow: normal;
        white-space: normal;
    }
}

.contacts {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    .h2 {
        font-size: 3.2rem;
        line-height: 1.1875;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(#272A35, 0.8);
        margin-bottom: 2.5rem
    }
    &__text {
        width: 42.5%;
        padding: 0 7.95% 7.5rem 0;
        p {
            line-height: 1.75
        }
    }
    &__form {
        width: 57.5%;
        max-width: 62rem;
        background: #FFFFFF;
        box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
        border-radius: 40px;
        padding: 8rem 6.5% 8.3rem;
        .box-field_checkbox {
            margin-top: -0.9rem
        }
    }
}

.decor-contacts {
    right: 0;
    background: #F3F3F6;
    top: 11.8%;
    bottom: 11.8%;
}

.head-inner-2_contacts {
    position: relative;
    z-index: 1;
    .head-decor {
        font-size: 26rem;
        right: -20%;
    }
    .h2-decor {
        margin-bottom: 4.2rem
    }
}

.main-contacts {
    position: relative;
    z-index: 0;
}

.head-inner_offset {
    padding-bottom: 10rem
}

.decor-description {
    background: #FFF4E0;
    opacity: .7
}

.form-order-inline {
    margin-top: 15rem;
    .h2-decor {
        margin-bottom: 4rem
    }
}

.section-compare+.form-order-inline {
    margin-top: 34rem
}

.form-wrap {
    position: relative;
}
.form-inline {
    background: #FFFFFF;
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    padding: 5.4rem 7% 7.9rem;
    max-width: 111.5rem;
    position: relative;
    z-index: 1;
    form {
        margin-left: -22px;
        margin-right: -22px;
        display: flex;
        flex-wrap: wrap
    }
    .box-field,
    .popup-button {
        width: calc(50% - 44px);
        margin-left: 22px;
        margin-right: 22px;
    }
    .box-field_checkbox {
        width: calc(100% - 44px);
    }
}
.decor-form {
    opacity: 0.1;
    top: -17.5rem;
    bottom: -17rem;
    border-radius: 100rem 0 0 100rem;
    left: 50%;
}
.decor-quiz {
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: none
}

.main-quiz {
    margin-top: 5.4rem;
}

.quiz {
    display: flex;
    &__form {
        width: 78%;
        padding: 1.15rem 0 0 3.5%;
    }
}

.quiz__nav {
    width: 22%;
    height: 312px;
    .tabs-nav {
        width: 15.5rem
    }
    .equipment-nav .tabs-nav__link {
        padding: 1.8rem 0 1.4rem 3.1rem;
        margin: 0
    }
}

.quiz-title {
    margin-bottom: 3rem;
    font-size: 3.4rem;
    line-height: 1.2;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    color: rgba(#272A35, .8);
}

.box-field_quiz {
    margin-bottom: 1rem
}

.step-quiz {
    display: none;
    &.active {
        display: block;
    }
    &:last-child {
        max-width: 46rem;
        .quiz-title {
            margin-bottom: 5.5rem;
        }
    }
}

.quiz-buttons {
    margin: 5rem 0 0 -1rem;
    display: flex;
    align-items: center;
}

.btn_quiz-step {
    min-width: 22rem;
    position: relative;
    i {
        display: block;
        font-size: 1.2rem;
        position: absolute;
        left: -3rem;
        top: 50%;
        margin-top: -0.5rem
    }
}

.btn_quiz-step-next {
    margin-left: 2.7rem;
    i {
        left: auto;
        right: -3rem;
    }
}
.hide + .btn_quiz-step-next {
    margin-left: 0
}
.steps-quiz-nav {
    margin-bottom: 3.5rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    &:before {
        content: '';
        display: block;
        height: 1px;
        border-top: 1px dashed #E6E7EC;
        position: absolute;
        left: 0;
        top: 70%;
        right: 0;
        z-index: 0
    }
    &__item {
        margin-right: 5.3rem;
        position: relative;
        z-index: 1;
        text-align: center;
        &.active {
            .steps-quiz-nav__el {
                background: $color-active;
                box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.1);
            }
            .steps-quiz-nav__count {
                color: $text-color;
            }
        }
        &.done {
            .steps-quiz-nav__el {
                background: $color-active;
            }
            .steps-quiz-nav__count {
                color: $text-color;
            }
        }
        &:last-child {
            margin-right: 0
        }
    }
    &__el {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 4px solid #fff;
        background: #E6E7EC;
    }
    &__count {
        font-size: 1.4rem;
        line-height: 1.2;
        color: rgba(#0F0F10, .3);
    }
}

.box-field_quiz {
    margin-bottom: 0.9rem;
    font-size: 1.75rem;
    letter-spacing: -0.005em;
    label {
        cursor: pointer;
        display: inline-flex;
        align-items: flex-start;
    }
    .check-label {
        margin-right: 2.3rem;
        flex-shrink: 0
    }
}

.section-text_quiz {
    margin: -1.2rem 0 0;
    max-width: 109rem
}

.section-testimony {
    overflow: hidden;
    padding-top: 21.8rem;
    padding-bottom: 8rem;
    .h2-decor {
        margin-bottom: 5rem
    }
}

.list-testimony {
    margin-left: 9.05rem;
    line-height: 1.275;
    font-size: 1.75rem;
    max-width: 109rem;
    ul {
        columns: 2;
        column-gap: 7.5rem;
    }
    li {
        padding-bottom: 0;
        margin-bottom: 1.75rem;
    }
}

.specialist-note {
    padding: 0.1rem 8rem 2rem 0;
    max-width: 107rem;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__img {
        width: 37rem;
        margin-left: -5rem;
        text-align: center;
        position: relative;
        z-index: 1;
        img {
            vertical-align: top
        }
    }
    &__text {
        width: calc(100% - 32rem);
        font-size: 2.2rem;
        line-height: 1.6;
        padding: 0 4rem 6.8rem 7rem;
        position: relative;
        z-index: 1
    }
    &__decor {
        position: absolute;
        left: -8rem;
        height: auto;
        bottom: -5.4rem;
        z-index: 0;
        width: 1210px;
        max-width: 1210px
    }
}

.header-services {
    min-height: 100vh;
    &:before {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    }
    .head-inner__heading {
        min-height: calc(100vh - 35rem);
        padding-bottom: 5.2rem;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.section-service-description {
    padding-top: 30rem
}

.list-decor-3 {
    padding: 5rem 2rem 3.66rem 2.6rem;
    margin: 0 -3rem;
    display: flex;
    align-items: flex-start;
    position: relative;
    &__title {
        font-size: 2.1rem;
        line-height: 1.5;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 2.1rem;
        color: rgba(#272A35, .8);
    }
    &:before {
        content: '';
        display: block;
        border-radius: 100rem 0 0 100rem;
        background: #FFF4E0;
        border-radius: 0px 21rem 21rem 0px;
        position: absolute;
        z-index: 0;
        left: -11.5rem;
        top: -1.3rem;
        bottom: 0;
        width: 5000px;
        border-radius: 21rem 0px 0px 21rem;
    }
    &__col {
        width: 50%;
        padding: 0 3rem;
        position: relative;
        z-index: 1
    }
    ul {
        font-size: 1.7rem
    }
    li {
        padding-bottom: 1.6rem;
    }
}

.decor-services {
    left: 22rem;
    bottom: -5rem;
    top: -7.5rem;
    top: -1.3rem;
    border-radius: 100rem 0 0 100rem
}

.decor-description {
    left: 10rem;
}

.block-10 {
    margin-top: 11.5rem;
    display: flex;
    align-items: flex-start;
    position: relative;
    &__left {
        position: relative;
        z-index: 2
    }
    &__right {
        padding-left: 12.2rem;
        padding-top: 2.8rem;
        z-index: 1;
        position: relative;
    }
    .equipment-slider-description__text {
        margin-top: 1.4rem;
        max-width: 73rem;
        min-height: 35.8rem;
    }
    .slick-list {
       // height: auto !important
    }
}

.block-10-description {
    overflow: visible;
    .slick-list, .slick-track {
        overflow: visible !important;
    }
    .slick-slide:not(.slick-current) {
        height: 0 !important
    }
}

.section-10 {
    padding-top: 10.9rem;
}

.section-text-10 {
    max-width: 82rem;
    letter-spacing: inherit;
}

.decor-10 {
    bottom: 26%;
    opacity: .12;
    right: 40rem;
    top: -6rem;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 100rem 100rem 0;
    z-index: 0
}

.section-stages {
    position: relative;
    padding-top: 20.5rem;
    .head-decor {
        top: 0;
    }
    .wrapper {
        z-index: 2
    }
}

.stages-wrap {
    padding: 5rem 0 0;
    max-width: 108rem;
    margin: 0 0 0 4.9rem;
}

.stages {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -5.5rem;
    counter-reset: heading;
    &__item {
        width: 33.33%;
        padding: 0 5.5rem;
        margin-bottom: 5.4rem;
        position: relative;
        &:before {
            content: '';
            display: block;
            height: 4.8rem;
            background: url(../img/stages_decor.svg) 0 50% no-repeat;
            background-size: 100% auto;
            position: absolute;
            left: 10rem;
            top: -3.2rem;
            width: calc(100% + 1.8rem);
        }
        &:last-child:before, &:nth-child(3):before {
            display: none;
        }
    }

&__el {
    padding: 4.2rem 0 0 4.4rem;
    position: relative;
    &:before {
        counter-increment: heading;
        content: "0" counter(heading) ".";
        font-weight: bold;
        font-size: 2rem;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 4.9rem;
        color: #0F0F10;
    }
    &:after {
        left: 4.4rem;
        top: 0;
        content: '';
        display: block;
        position: absolute;
        background: #FFDFA5;
        width: 20px;
        height: 20px;
        border-radius: 50%
    }
}


&__title {
    font-size: 2.6rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
    color: #272A35;
}
&__text {
    font-size: 1.9rem;
    line-height: 1.8;
}
}


.section-virtues {
    padding-top: 15rem;
    .worth__text-2 .os-viewport {
        padding-right: 0
    }
}
.decor-services-2 {
    background: #E6E7EC;
}
.section-compare-2 {
    margin-top: 32rem
}
.section-price-page {
    .faq-list {
    max-width: 122.5rem;
}
}
.stocks {
    margin-top: 11rem
}
.stock-card {
    display: flex;
    align-items: flex-start;
    & + & {
        margin-top: 22.5rem;
    }
    &__subtitle {
font-size: 2.2rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: 4.8rem;
    margin-right: 60px;
    }
    &__button {
        margin-top: 3rem;
    }
 .slick-slide {
    padding: 2.2rem 4rem 4rem
 }
 .slick-slide > div {
    padding-bottom: 1.2rem
 }
 &__info {
    font-size: 2.2rem;
    line-height: 1.3;
        margin-top: -0.5rem;
 }
 &:nth-child(even) {
    flex-direction: row-reverse;
    .stock-card__img {
        padding-left: 0
    }
    .decor-stock {
        left: auto;
        right: 24rem;
        border-radius: 0px 100rem 100rem 0px;
    }
    .stock-card__services {
    max-width: none;
}
 }
}
.section-picture {
    position: relative;
    z-index: 1
}
        .btn_stock {
            min-width: 25.7rem
        }

.stock-card__img {
    padding-left: 8rem;
}
.stock-card__description {
    display: block;
}
.stock-card__description, .equipment-slider-description__text {

    p:last-child {
            padding-bottom: 3rem;
        }
}
.stocks__title {
    margin-bottom: 2.7rem
}
.stock-card__text {
    margin-left: 0;
        letter-spacing: -0.01em;
    line-height: 1.75;
    padding-right: 5.5rem
}
.stock-card__text {
   max-height: 14rem;
}
.decor-stock {
    background: #F2F3F5;
    border-radius: 100rem 0px 0px 100rem;
    left: 22rem;
    top: -7.5rem;
    bottom: -7.5rem;  
}
.services-price__item-stock {
    background: #FFFFFF;
box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.1);
border-radius: 50px;
padding: 1rem 3rem 1rem 4.5rem;
min-height: 8rem;
align-items: center;
display: flex !important;
.services-price__head {
    width:calc(100% - 100px);
    padding-right: 4.5rem;
}
.services-price__title {
    white-space: normal;
    max-height: 51px;
    overflow: hidden;
    font-size: 2rem;
    letter-spacing: 0.085em;
}
.services-price__right {
    width: auto;
    flex-shrink: 0
}
}
.services-price__item-stock + .services-price__item-stock {
    margin-top: 1.5rem
}
.stock-card__services {
    max-width: 82.8rem;
    margin: 0 -4rem;
    position: relative;
 .slick-arrow-2 {
    right: 3.8rem;
    left:  auto;
    bottom: auto;
    top: -4.7rem;
    &.slick-prev {
        right: 7rem;
    }
 }
}
.block-10 .equipment-slider-description__text.scroll-unvisible.js-scroll:before {
        background: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 1600px) {
    .head-inner__services {
        margin-right: -2rem
    }
}
@media screen and (max-width: 1599px) {
    .head-inner {
        padding-top: 17.3rem;
    }
    .head-inner__heading {
        padding-top: 2.8rem;
    }
}
@media screen and (max-width: 1440px) {
    .head-inner__services {
        margin-right: 0
    }
    .head-inner__services {
        margin-top: 10.8rem
    }
.worth__text-2 .os-viewport {
    padding-right: 0
}
}
@media screen and (max-width: 1414px) {
    .price-tabs-nav {
        margin-left: 50px;
    }
    .head-decor-img {
        left: 33rem;
    }
    .list-services {
        max-width: 92rem
    }
}
@media screen and (max-width: 1366px) {
    .section-services-description {
        padding-top: 12.2rem;
    }
    .section-price-direction {
        padding-top: 17rem;
    }
    .head-decor {
        top: 15rem;
        font-size: 32rem;
    }
    .stock-card + .stock-card {
    margin-top: 17.5rem;
}
.stocks {
    margin-top: 7rem;
}
.section-testimony {
    padding-top: 13.3rem;
    }
    .block-10__right {
        padding-left: 4rem
    }
    .block-10 .equipment-slider-description__text {
        max-height: 29rem;
            min-height: 0;
    }
    .list-decor-3 {
        margin-top: 4rem
    }
    .section-compare-2 {
    margin-top: 19rem;
}
.section-compare + .form-order-inline {
    margin-top: 18rem;
}
.section-specialist_2 {
    margin-top: 22.5rem;
}
}
@media screen and (max-width: 1365px) {
    .h1-inner {
        font-size: 4.5rem;
    }
    .price-tabs-nav {
        margin-left: 25px;
    }
}
@media screen and (max-width: 1320px) {
    .decor-services {
        left: 10rem;
        height: auto;
    }
    .stock-card__img {
    padding-left: 0;
}
}
@media screen and (max-width: 1320px) and (min-width:961px){
.stock-card__description {
    width: calc(100% - 29.7rem);
}
.stock-card__img {
    width: 29.7rem
}
.stock-card__services .slick-arrow-2 {
    right: 4rem;
    }
    .stock-card__services .slick-arrow-2.slick-prev {
    right: 7.5rem;
}
.stock-card:nth-child(even) {

.stock-card__description {
    padding-left: 6rem
}
}
}
@media screen and (max-width: 1280px) {
    .head-inner__services:before {
        border-radius: 100px 0 0
    }
    .list-services li {
        font-size: 1.8rem;
        padding-bottom: 1.9rem
    }
    .head-inner__services {
        padding-top: 4rem;
        padding-bottom: 2rem
    }
    .faq-list {
        margin-left: 0;
    }
    .head-decor {
        top: 14rem;
        font-size: 26rem;
    }
    .list-decor-3 {
        margin: 5rem -2rem 0;
    }
    .list-decor-3__col {
    padding: 0 2rem;
}
.list-decor-3 {
    padding-left: 0
}
.list-services ul {
    column-gap: 3rem
}
.head-inner-2_contacts  .head-decor {
    font-size: 21rem;
        top: 10rem;

}
}
@media screen and (max-width: 1200px) {
    .excellence__item,
    .excellence__item:nth-child(3n + 2),
    .excellence__item:nth-child(3n + 3) {
        width: 50%
    }
    .head-decor {
        font-size: 24rem;
    }
    .head-inner-2 {
        padding-top: 14.4rem;
    }
    .contacts__text {
        padding-right: 45px;
    }
    .stages {
        margin: 0 -2rem
    }
    .stages__item {
        padding-left: 2rem;
        padding-right: 2rem
    }
    .stages__item:before {
        left: 6.5rem;
    }
    .section-compare-2 {
    margin-top: 12rem;
}
.section-specialist_2 {
    margin-top: 15.5rem;
}
.section-compare + .form-order-inline {
    margin-top: 13rem;
}
.list-services {
    max-width: 81rem
}
.section-stages {
.h2-decor {
    margin-bottom: 3rem
}
}
}
@media screen and (max-width: 1199px) {
    .quiz-title,
    .contacts .h2 {
        font-size: 3rem
    }
}
@media screen and (max-width: 1024px) {
    .list-services {
        ul {
            columns: 3;
        }
    }
    .section-services-description {
        padding-top: 6.2rem;
    }
    .section-excellence {
        padding-top: 13.2rem
    }
    .head-inner-2 .h2-decor {
        margin-top: 3.5rem;
        margin-bottom: 3.2rem;
    }
    .price-tabs-wrap {
        margin-top: 4rem;
    }
    .head-decor {
        z-index: 0
    }
    .main-contacts {
        z-index: 1
    }

.section-specialist_3 {
    margin-top: 10.5rem;
}

    .worth__text-2 {
        margin-right: 0
    }

    .decor-contacts {
        top: 0;
        bottom: -1rem;
        border-radius: 0
    }
    .contacts {
        margin-top: 0;
        padding-top: 2rem;
        padding-bottom: 3rem
    }
}
@media screen and (max-width: 1023px) {
    .services-price__item {
        display: block
    }
    .services-price__right {
        margin: 1rem 0 0;
        width: 100%
    }
    .services-price__head {
        width: 100%
    }
    .services-price__btn {
        margin-left: 10%
    }
    .services-price__item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 2rem;
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0
        }
    }
    .services-price__item+.services-price__item {
        padding-top: 2rem
    }
    .services-price__title {
        white-space: normal;
    }
    .contacts {
        display: block;
    }
    .contacts__text {
        padding: 0;
        width: 100%;
        margin-top: 3rem
    }
    .contacts__form {
        margin: 5rem auto 0;
        width: 100%
    }
    .specialist-note {
        padding-right: 0
    }
    .specialist-note__img {
    width: 31rem;
}
.specialist-note__text {
     width: calc(100% - 28rem);
     padding: 0 4rem 5.8rem 5rem;
}
.head-inner, .bg-head, .bg-head:before {
    border-radius: 0
}
.list-services {
    max-width: 100%;
}
.list-services:before {
    left: -5rem;
}
.head-inner__services {
    padding-left: 5rem
}
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .quiz__nav .equipment-nav {
        display: block;
    }
    .quiz__nav .equipment-nav .tabs-nav__link:before {
        right: auto;
        top: 0;
        width: 6px;
        height: auto;
    }
    .quiz__nav {
        margin-left: 0;
        margin-right: 0;
        width: 20rem
    }
    .quiz__nav .tabs-nav {
        width: 15.5rem !important;
    }
    .quiz__form {
        width: calc(100% - 20rem)
    }
}
@media screen and (max-width: 960px) {
    .h1-inner {
        font-size: 3.8rem;
        line-height: 1.3;
        padding: 0 0 1.4rem;
        padding-left: 0
    }
    .head-inner__heading {
        width: 100%
    }
    .excellence-wrap {
        margin-left: 0
    }
    .excellence {
        margin-left: -15px;
        margin-right: -15px
    }
    .excellence__item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .head-decor {
        font-size: 18rem;
        top: 11rem;
    }
    .quiz-title,
    .contacts .h2 {
        font-size: 2.8rem
    }
    .list-testimony {
        margin-left: 0
    }
    .stages-wrap {
        margin-left: 0
    }
    .stages__item {
        width: 50%;
        &:nth-child(3):before {
            display: block;
        }
        &:last-child:before, &:nth-child(2):before, &:nth-child(4):before {
            display: none;
        }
    }
    .stock-card__description {
        width: 100%
    }
    .stock-card__text {
        max-height: none
    }
    .stock-card, .stock-card:nth-child(even) {
    flex-direction: column-reverse;
}
.stock-card + .stock-card {
    margin-top: 8.5rem;
}
.stocks__title {
    margin-bottom: 1.2rem;
}
.stock-card__text {
    font-size: 1.7rem
}
.stocks {
    margin-top: 4rem;
}
.decor-stock {
    left: 22rem;
    top: -1.5rem;
    bottom: -1.5rem;
}
.stock-card__img {
    padding-left: 0;
}
.stock-card__description {
    margin-top: 4rem
}
.stock-card__subtitle {
    margin-top: 0.8rem
}
.stock-card__services .slick-arrow-2 {
    right: 4rem;
}
.stock-card__services .slick-arrow-2.slick-prev {
    right: 7.5rem;
}
.stock-card__img {
    margin: 0 auto;
}
.services-price__counts {
    padding-top: 0.1rem
}
.list-decor-3 {
    display: block;
}
.list-decor-3__col {
    width: 100%
}
.list-decor-3__col + .list-decor-3__col {
    margin-top: 4rem
}
.form-inline {
    padding: 4rem 2.5rem 4.5rem;
    }
    .head-inner-2_contacts .head-decor {
    font-size: 13rem;
    top: 11rem;
}
}
@media screen and (max-width: 767px) {
    .section-text p:last-child {
        padding-bottom: 0
    }
    .head-inner .section-text {
        font-size: 1.65rem;
        line-height: 1.7;
    }
    .h1-inner {
        font-size: 3.6rem;
    }
    .head-inner {
        padding-top: 12.3rem;
    }
    .list-services {
        ul {
            columns: 2;
        }
    }
    .head-inner__services:before {
        border-radius: 0
    }
    .head-inner__services {
        margin-top: 3.8rem;
        margin-left: -2.5rem;
        padding: 2.8rem 2.54rem 3rem
    }
    .section-services_inner {
        margin-top: 5.5rem;
    }
    .worth__text-2 {
        max-height: none
    }
    .services-main_inner .services-main__item {
        padding-bottom: 7.4rem;
    }
    .worth__text-2 {
        margin-right: 0;
    }
    .faq-list__info {
        padding: 2rem 0
    }
    .faq-list__title {
        border-radius: 0;
        margin-left: -2.5rem;
        margin-right: -2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .section-specialist_2 {
        margin-top: 8.5rem;
    }
    .section-price-direction {
        padding-top: 13rem;
    }
    .section-price-direction .h2-decor {
        margin-bottom: 2rem;
    }
    .head-inner-2 {
        padding-top: 12.4rem;
    }
    .head-decor {
        font-size: 15rem;
        top: 11rem;
    }
    .head-inner-2 .h2-decor {
        margin-top: 0.5rem;
        margin-bottom: 3.2rem;
    }
    .price-tabs-wrap {
        margin-top: 2rem;
    }
    .contacts__form {
        padding: 4rem 1.5rem 4.3rem;
    }
    .head-decor {
        display: none;
    }
    .quiz {
        display: block;
    }
    .quiz__nav .equipment-nav {
        display: flex;
        width: 100%;
    }
    .quiz__nav {
        height: auto;
        width: calc(100% + 5.1rem);
    }
    .quiz__form {
        width: 100%;
        padding: 0;
        margin-top: 3rem;
    }
    .btn_quiz-step {
        min-width: 14rem;
        i {
            font-size: 1.1rem;
            left: -2rem;
        }
    }
    .quiz-buttons {
        margin: 4.5rem 0 0 0;
        justify-content: center;
        /*    display: flex;
    flex-direction: column;
    align-items: center;*/
    }
    .btn_quiz-step-next {
        i {
            left: auto;
            right: -2rem;
        }
    }
    .section-testimony {
        padding-top: 9.3rem;
        padding-bottom: 0
    }
    .specialist-note__decor, .specialist-note__img {
        display: none;
    }
    .specialist-note__text {
        padding: 2.5rem;
        background: #FFF4E0;
        margin: 0 -2.6rem;
        width: auto;
        margin-top: 2rem
    }
    .section-10 {
    padding-top: 7.9rem;
}
.block-10 {
        display: block;
    margin-top: 5.5rem;
    }
.block-10__right {
    padding: 0;
    margin-top: 2rem;
    width: 100%
}
.decor-10 {
    display: none;
}
.list-decor-3 {
    padding-left: 0;
    padding-right: 0
}
.list-decor-3:before {
    border-radius: 0;
    top: 0;
    left: -2.6rem;
    right: -2.6rem;
    width: 150%
}
.block-10 .equipment-slider-description__text {
    min-height: 0
}
.list-decor-3 {
    margin-top: 3rem
}
.section-stages {
    padding-top: 5rem;
    .h2-decor {
        margin-bottom: 2rem
    }
}
.services-price__item-stock {
    padding-left: 3rem;
    padding-right: 3rem;
    .services-price__right {
    margin: 0.4rem 0 0;
    width: 100%;
}
}

.section-testimony {
    padding-top: 8.3rem;
    }
    .section-compare-2 {
    margin-top: 10rem;
}
.section-compare + .form-order-inline {
    margin-top: 11rem;
}
.section-specialist_2 {
    margin-top: 10.5rem;
}
.bg-head {
    border-radius: 0
}
.header-services {
    min-height: 0;
    padding-bottom: 0
}
.stock-card__text.scroll-unvisible {
    .os-content {
        padding-right: 0 !important
    }
}
.list-services:before {
    border-radius: 0
}
.section-specialist_3 {
    margin-top: 8.5rem;
}
.quiz__nav .equipment-nav .tabs-nav__link {
    white-space: nowrap;
    padding-left: 0;
    margin-right: 3.5rem
}
.quiz__nav {
    padding-left: 2.6rem
}

    .services-price__item-stock {
        display: block !important;
    }
    .services-price__item-stock .services-price__head {
        width: 100%;
        padding-right: 0
    }
    .list-services:before {
        top: -4rem;
    }
}
@media screen and (max-width: 700px) {

    .form-inline .box-field, .form-inline .popup-button {
        width: 100%
    }
}
@media screen and (max-width: 660px) {
    .excellence__item,
    .excellence__item:nth-child(3n + 2),
    .excellence__item:nth-child(3n + 3) {
        width: 100%;
    }
    .list-testimony ul {
        columns: 1;
    }
    .list-decor-3 {
        display: block;
        margin: 3rem  0 0;
        &__col {
            width: 100%;
            padding: 0
        }
    }
}
@media screen and (max-width: 640px) {
    .stages__item { 
        width: 100%;
        &:before, &:nth-child(3) {
            display: none;
        }
    }
}
@media screen and (max-width: 500px) {
    .list-services {
        ul {
            columns: 1;
        }
    }
}
@media screen and (max-width: 479px) {
    .services-price__right {
        display: block;
    }
    .services-price__btn {
        margin: 2rem 0 0;
    }
    .contacts__form {
        margin-left: -25px;
        margin-right: -25px;
        width: calc(100% + 50px);
        border-radius: 0
    }
}
@media screen and (max-width: 374px) {
    .contacts__form {
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
}
@media screen and (min-width: 1100px) {
    .price-tabs-nav {
        .tabs-nav__link {
            margin-right: 7.95rem,
        }
    }
}
@media screen and (min-width: 768px) {
.price-tabs-nav .tabs-nav__link {
    margin-right: 4.55rem;
}

    .services-price__item-stock {
        display: flex !important;
    }
}
.safari {
    .btn {
        line-height: 7.7rem
    }
    .dropdown-head i {
        margin-top: 0.4rem
    }
    .form-control_lg {
        padding-bottom: 0.8rem
    }
    .services-price__action {
        line-height: 3rem
    }
    .btn_service-order {
        line-height: 5rem
    }
    .services-price__old-price:before {
        top: 50%;
    }
}