.home .content {
    padding-top: 0
}

.section-main {
    position: relative;
    margin-bottom: 8.6rem;

}

.main-title {
    //font-weight: 300;
    font-size: 2.45rem;
    line-height: 2.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
}

.h1-main {
    font-weight: bold;
    font-size: 18.94vw;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 30px 45px rgba(0, 0, 0, 0.05);
}

.main-text {
    position: absolute;
    top: 43rem;
    left: 50%;
    transform: translateX(-58%);
    pointer-events: none;
    z-index: 2;
    text-align: center;
}

.main-subtitle {
    font-size: 1.7rem;
    line-height: 1.18;
    //font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    margin-top: 12px
}

.arrow-1 {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    border-radius: 50%;
    width: 16.9rem;
    height: 16.9rem;
    padding-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:after {
        content: '';
        display: block;
        width: 5.6rem;
        background: #000;
        height: 1px;
        position: absolute;
        left: 100%;
        margin-left: -3.05rem;
        top: 50%;
        transition: transform .3s ease-in
    }
}

.web .arrow-1:hover {
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
    &:after {
        transform: translateX(10px)
    }
}

.main-bl {
    z-index: 1;
    &__head {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3
    }
    &__heading {
        padding-top: 1.3rem;
    }
    &__picture {
        position: absolute;
        right: 6rem;
        min-width: 50rem;
        bottom: 0;
        z-index: 2;
        mix-blend-mode: darken;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        img {
        max-height: 81vh;
            vertical-align: top
        }
    }
}

.slider-main {
        overflow: hidden;
    .wrapper {
        max-width: 1290px;
    }
    &__decor {
        background: #E6E7EC;
        border-radius: 0px 0px 0px 600px;
        bottom: 7.1rem;
        position: absolute;
        left: -0.7rem;
        top: 0;
        z-index: 1;
        width: 5000px;
    }
    &-decor {
        background: #FFF4E0;
        border-radius: 0px 0px 0px 200px;
        bottom: 0;
        position: absolute;
        left: 25%;
        top: 0;
        width: 5000px;
        z-index: 0
    }
    &__card {
        min-height: 100vh;
        position: relative;
        padding-top: 21.45rem;
    }
    &__item {
        vertical-align: top
    }
    .arrow-1 {
        margin-left: 3.8rem;
    }
    &.sliders-arrow {
        padding-bottom: 0;
    }
}

.main-arrows {
    position: absolute;
    left: 11rem;
    bottom: 10.5rem;
    display: flex;
    .slick-arrow {
        position: static;
        margin: 0
    }
}

.section-pick-up-procedure {
    margin-top: 17.8rem;
}

.pick-up-procedure {
    display: flex;
    align-items: flex-start;
    &__picture {
        width: 49.6rem;
        padding-top: 0.5rem;
    }
    &__description {
        width: calc(100% - 49.6rem);
        padding-left: 6.5rem;
        .h2-decor {
            margin-left: -8.5rem;
        }
    }
    &__button {
        margin-top: 3.2rem;
    }
    &__text {
        max-height: 27.6rem;
        overflow: auto;
    }
    .h2-decor {
        margin-bottom: 2.9rem;
    }
}

.btn_pick {
    min-width: 25.7rem;
}

.section-text {
    overflow: auto;
    //font-weight: 300;
    font-size: 1.95rem;
    line-height: 3.4rem;
        letter-spacing: -0.008em;
    color: #53545D;
    p {
        font-size: inherit;
        line-height: inherit;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 3rem;
        }
    }
    &>*:first-child,
    .os-content>*:first-child {
        &:first-letter {
            //font-weight: 300;
            font-size: 6.9rem;
            line-height: 1;
            letter-spacing: 0.1em;
            margin-top: 0.5rem;
            margin-bottom: -0.8rem;
            text-transform: uppercase;
            color: #272A35;
            opacity: 0.3;
            float: left;
            margin-right: 0.5rem;
        }
    }
}

.section-picture {
    padding: 2.3rem;
    height: 49.6rem;
    width: 49.6rem;
    background: #FFFFFF;
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    flex-shrink: 0
}

.section-picture__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.decor-left {
    background: #E6E7EC;
    border-radius: 0px 200px 200px 0px;
    position: absolute;
    right: 24rem;
    top: -9rem;
    bottom: -9.5rem;
    width: 5000px;
    z-index: 0;
    pointer-events: none;
}

.decor-right {
    background: #E6E7EC;
    border-radius: 200px 0px 0px 200px;
    position: absolute;
    left: 25rem;
    top: 0;
    bottom: 0;
    width: 5000px;
    z-index: 0;
    pointer-events: none;
}

.with-decor {
    position: relative;
    &__inner {
        position: relative;
        z-index: 1
    }
}

.slider-nav {
    overflow: hidden;
    &__slides {
        display: flex;
        width: auto;
        min-width: 100%;
    }
    &__item {
        position: relative;
        margin: 1.5rem .8rem 2rem 1.25rem;
        border-radius: 50%;
        transition: box-shadow .3s ease-in;
        cursor: pointer;
        vertical-align: top;
        width: 7rem !important;
        &:before {
            content: '';
            display: block;
            border-radius: 50%;
            border: 0 solid $color-active;
            transition: border-width .3s ease-in;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px
        }
        &.active {
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
            .slider-nav__card {
                opacity: 1
            }
            &:before {
                border-width: 5px;
                opacity: 1
            }
        }
    }
    &__card {
        width: 7rem;
        height: 7rem;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        opacity: 0.5;
        transition: opacity .3s ease-in;
    }
    .slick-current {
        .slider-nav__item {
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
            &:before {
                border-width: 5px;
            }
            .slider-nav__card {
                opacity: 1;
            }
        }
    }
}

.web {
    .slider-nav__item:hover {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
        .slider-nav__card {
            opacity: 1;
        }
    }
}

.section-worth {
    margin-top: 36.8rem;
    .h2-decor {
        margin-bottom: 2.8rem;
    }
    .decor-right {
        top: -7.5rem;
        bottom: auto;
        height: 64.2rem;
        left: calc(100% - 33.6rem);
        z-index: 0
    }
}

.worth-wrapper {
    display: flex;
    align-items: flex-start;
    margin-right: -2rem;
    position: relative;
    z-index: 1
}

.slider-nav_worth {
    margin: 2.1rem 0 0 8.2rem;
    width: calc(100% - 8.2rem);
    position: relative;
    z-index: 2;
}

.worth {
    position: relative;
    z-index: 1;
    &__card {
        display: flex;
        padding-bottom: 6.5rem;
    }
    &__picture {
        width: 496px;
    }
    &__text {
        max-height: 19.7rem;
        overflow: auto;
        margin-left: 9rem;
        min-height: 8rem
    }
    &__item {
        padding-left: 6.4rem;
        padding-right: 2rem;
    }
}

.worth-description {
    display: flex;
    flex-direction: column-reverse;
}

.worth-img {
    width: 58rem;
    position: relative;
    z-index: 1
}

.worth-description {
    width: calc(100% - 58rem);
    position: relative;
    z-index: 2
}

.decor-worth {
    left: calc(100% - 56rem);
    opacity: 0.07;
    background-position: 36% center;
    background-repeat: repeat;
}

.section-compare {
    margin-top: 36.7rem;
    .h2-decor {
        margin: 0 0 -2.2rem 58rem;
    }
}

.twentytwenty-wrapper {
    width: 55.5rem;
    height: 44.6rem;
    background: #FFFFFF;
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
    border: 10px solid #fff;
    border-radius: 1000px;
}

.compare-img {
    border-radius: 1000px;
    overflow: hidden;
    width: 100%;
    height: 100% !important;
    img {
        border-radius: 1000px;
        vertical-align: top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%
    }
}

.compare {
    position: relative;
    z-index: 1;
    margin-left: -3rem;
    &__item {
        padding-bottom: 5.5rem;
        padding-left: 3rem
    }
    &__card {
        display: flex;
        align-items: flex-start;
    }
    &__picture {
        width: 60.5rem;
    }
    &-description {
        width: calc(100% - 63.5rem);
        padding: 9rem 0 0 5%;
    }
    &__text {
        max-height: 23.2rem;
        margin-top: 1.3rem;
        letter-spacing: 0.005em;
        overflow: auto;
        //font-weight: 300;
        font-size: 1.95rem;
        line-height: 1.79;
        color: #53545D;
    }
    &__title {
        //font-weight: 300;
        font-size: 3.4rem;
        line-height: 3.8rem;
        letter-spacing: 0.075em;
        text-transform: uppercase;
        color: #272A35;
        opacity: 0.8;
    }
    .slider-nav_worth {
        margin: 0
    }
}

.compare__picture {
    .worth {
        margin-left: -6.4rem
    }
    .with-decor__inner {
        padding-bottom: 7rem
    }
}

.slider-compare-nav {
    margin: 3.8rem 0 0 -1.8rem;
    position: relative;
    z-index: 2;
    .slider-nav__slides {
        justify-content: flex-start;
    }
}

.compare-wrap {
    position: relative;
}

.decor-compare {
    background: #FFF4E0;
    right: calc(100% - 36.8rem);
    top: -14rem;
    bottom: -6.8rem;
}

.tabs-nav {
    display: flex;
    &__link {
        position: relative;
        font-size: 1.95rem;
        line-height: 2.2rem;
        letter-spacing: -0.017em;
        word-spacing: 0.16em;
        color: #53545D;
        cursor: pointer;
        margin-right: 7.45rem;
        padding-bottom: .8rem;
        transition: color .3s ease-in;
        &:before {
            content: '';
            display: block;
            height: 3px;
            left: 0;
            bottom: 0;
            right: 0;
            transform-origin: 0 50%;
            background: $color-active;
            border-radius: 10px;
            position: absolute;
            transform: scale(0);
            transition: transform .3s ease-in
        }
        &.active {
            cursor: default;
            &:before {
                transform: scale(1);
            }
        }
        &:last-child {
            margin-right: 2rem
        }
    }
}

.web {
    .tabs-nav__link:not(.active):hover {
        color: #000;
    }
}

.tabs-wrap {
    position: relative;
}

.tab {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .3s eaase;
    &.active {
        position: relative;
        z-index: 1;
        opacity: 1
    }
}

.review-tab {
    margin-top: 6.5rem;
}

.sliders-arrow {
    padding-bottom: 6rem;
    position: relative;
}

.section-reviews {
    margin-top: 27.25rem;
    .h2-decor {
        margin-bottom: 4.8rem;
    }
}

.slider-reviews {
    margin: 0 -4rem 0 0;
    padding-bottom: 13.5rem;
    &__item {
        padding: 0 4rem 0;
    }
    &__head {
        align-items: baseline;
        flex-wrap: wrap;
        display: flex;
    }
    &__description {
        font-style: italic;
        font-size: 1.6rem;
        line-height: 3.4rem;
        max-width: 579px;
        color: #53545D;
        p:first-child {
            padding-top: 0
        }
        p:last-child {
            padding-bottom: 0
        }
    }
    &__icon {
        color: #fff;
        font-size: 7.6rem;
        margin-right: 2.5rem;
        text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        line-height: 1;
        display: inline-block;
        margin-bottom: 1.8rem;
        top: 5px;
        position: relative;
    }
    &__author {
        font-size: 2.6rem;
        line-height: 2.9rem;
        margin-right: 2.5rem;
        margin-bottom: 1.8rem;
        color: #272A35;
    }
    &__date {
        //font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1.8rem;
        color: #3B4952;
    }
    &__details {
        margin-top: 3.6rem;
        display: flex;
        &-col {
            margin-right: 3rem;
            min-width: 35%;
            &:last-child {
                margin-right: 0;
            }
        }
        &-val {
            font-weight: 500;
            font-size: 2.1rem;
            line-height: 2.4rem;
            /* identical to box height */
            color: #272A35;
        }
        &-label {
            margin-top: 1.3rem;
            //font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.7rem;
            text-transform: uppercase;
            color: #3B4952;
        }
    }
}

.reviews-nav {
    .tabs-nav__link {
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: inherit;
    }
}

.section-contacts {
    margin-top: 15rem;
    position: relative;
}

.contacts-main {
    display: flex;
    &__nav {
        width: 33.6rem;
        min-height: 56.35rem;
    }
    &__map {
        right: 0;
        background: #FFFFFF;
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.08);
        border-radius: 1000px 0px 0px 1000px;
        overflow: hidden;
        height: 56.5rem;
        position: absolute;
        left: 42rem;
        top: 0;
    }
    &__time {
        margin-top: 1.4rem;
        font-size: 1.6rem;
    }
    &__phones {
        margin-top: 1.7rem;
        .dropdown-list {
            right: auto;
            left: -2.5rem
        }
    }
}

.logo-contacts {
    margin: 4.8rem 0 4.5rem 8rem
}

.contacts-nav {
    display: block;
    .tabs-nav__link {
        margin: 0 0 -0.4rem;
        font-size: 1.6rem;
        line-height: 1.2;
        color: #272A35;
        padding: 3.5rem 0 3rem 7.5rem;
        z-index: 0;
        text-transform: none;
        * {
            color: rgba(#272A35,.5)
        }
        &:before {
            width: .6rem;
            height: auto;
            left: 0;
            top: 0;
            right: auto;
            bottom: 0.5rem;
        }
        &.active {
            &>* {
                opacity: 1;
            }
        }
    }
}

.dropdown-head {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 11;
    a {
        color: inherit;
    }
    i {
        font-size: 0.6rem;
        display: inline-block;
        padding: 5px 0 5px 0.5rem;
        flex-shrink: 0;
        margin-left: 0.9rem;
        cursor: pointer;
            margin-top: -0.5rem;
    }
}

.dropdown-wrap {
    position: relative;
}

.dropdown-wrapper {
    position: relative;
    z-index: 0;
    &.open {
        z-index: 100;
        .dropdown-list {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }
}
.contacts-main__address {
    &.open {
        .contacts-main__phones {
            opacity: 1
        }
        .dropdown-head a, .dropdown-phones__item a {
            color: #272A35
        }
    }
}

.dropdown-list {
    opacity: 0;
    z-index: 10;
    transform: translateY(15px);
    visibility: hidden;
    border-radius: 6rem;
    position: absolute;
    background: #FFF4E0;
    box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
    top: -4.8rem;
    right: -3.1rem;
    padding-top: 9rem;
    width: 29.9rem;
    overflow: hidden;
    z-index: 3;
    transition: all .2s ease-in
}

.dropdown-phones {
    list-style: none;
    padding: 0.5rem 0 3.3rem;
    &__item {
        list-style: none;
        a {
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 1.95rem 4rem 1.7rem 4.8rem;
            display: block;
            color: #000;
        }
    }
}

.web .dropdown-phones__item a:hover {
    background: rgba(#fff, .4)
}

.section-specialist {
    margin-top: 21.3rem;
    .h2-decor {
        margin-bottom: 4.85rem;
    }
    .os-content {
        display: flex;
    }
}

.specialist {
    position: relative;
    z-index: 1
}

.specialist-tab {
    margin-top: 10.8rem;
    z-index: 1
}

.specialist-slider {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    position: relative;
    z-index: 2;
    &__item {
        padding: 15.5rem 1.5rem 4rem;
    }
    &__card {
        padding: 4.3rem 3.3rem 4rem;
        min-height: 21.6rem;
        position: relative;
        width: 41.8rem;
        background: radial-gradient(100% 143.45% at 0% 52.01%, #FFFFFE 0%, #FFF4E0 45.35%);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4rem;
        color: #000;
    }
    &__title {
        font-size: 1.65rem;
        line-height: 1.875;
    }
    &__position {
        margin-top: 0.3rem;
        //font-weight: 500;
        font-size: 2.15rem;
        line-height: 1.2;
    }
    &__experience {
        font-size: 1.35rem;
        line-height: 1.55rem;
        margin-top: 1.1rem;
        text-transform: uppercase;
    }
    &__img {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        img {
            vertical-align: top;
            max-height: 33.1rem
        }
    }
    &__head {
        max-width: 210px
    }
}

.specialist-decor {
    position: absolute;
    top: 24rem;
    left: 5rem;
    right: 0;
    z-index: 0;
}
.specialist--nav {
    position: relative;
    z-index: 2
}
.specialist-nav .tabs-nav__link {
    white-space: nowrap;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.section-equipment {
    margin-top: 20.4rem;
    position: relative;
    .wrapper {
        z-index: 1
    }
}

.equipment-nav {
    display: block;
    &-wrap {
        width: 21.5rem;
        max-height: 58rem;
        overflow: auto;
    }
    .tabs-nav__link {
        padding: 2.3rem 0 1.1rem 2.4rem;
        margin: 0 0 4.1rem;
        line-height: 2.3rem;
        color: rgba(#000, .3);
        &.open {
            z-index: 1000
        }
        &:last-child {
            margin-bottom: 0
        }
    }
    .tabs-nav__link.active,
    .tabs-nav__link:hover {
        color: #000;
    }
    .tabs-nav__link:before {
        right: auto;
        top: 0;
        width: 6px;
        height: auto;
    }
}

.equipment-tab {
    width: calc(100% - 21.5rem);
    padding-left: 6rem;
}

.equipment-tab-wrap {
    position: relative;
    margin-top: 3.2rem
}

.equipment {
    display: flex;
    align-items: flex-start;
    margin-top: 15.3rem
}

.equipment-sliders {
    display: flex;
    align-items: flex-start;
    &__left {
        width: 36.8rem;
    }
    &__right {
        width: calc(100% - 36.8rem);
        padding-left: 6rem;
    }
}

.equipment-slider {
    margin: 0 -2.5rem;
    &__picture {
        width: 100%;
        height: 30.5rem;
        border-radius: 100rem;
        padding: 1rem;
        .section-picture__img {
            border-radius: 100rem;
        }
    }
    &__item {
        padding: 0 25px 45px
    }
}

.decor-equipment {
    z-index: 0;
    bottom: -7rem;
    top: -7rem;
    border-radius: 1000px 0px 0px 1000px;
    left: 20rem;
    background: #F3F3F6;
}

.equipment-slider-description {
    &__item {
        padding: 1.2rem 0 0
    }
    &__title {
        //font-weight: 300;
        font-size: 3.3rem;
        line-height: 1.1875;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #272A35;
        opacity: 0.8;
    }
    &__text {
        margin-top: 1.8rem;
        max-height: 21.5rem;
        overflow: auto;
        //font-weight: 300;
        font-size: 1.9rem;
        line-height: 3.4rem;
        color: #53545D;
        &.scroll-unvisible.js-scroll:before {
            background: linear-gradient(to top, rgba(#F3F3F6,1) 0%,  rgba(#F3F3F6,.8) 70%, rgba(#F3F3F6,0) 100%);
        }
    }
    &__servises {
        margin-top: 4.75rem;
    }
    &__subtitle {
        //font-weight: 300;
        font-size: 2.05rem;
        line-height: 3rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #272A35;
        opacity: 0.8;
        margin-bottom: 1.5rem;
    }
    .list-decor {
        margin-top: 3.6rem;
        font-size: 1.95rem;
        line-height: 1.17;
        color: #000000;
        max-width: 520px;
        a {
            color: inherit;
            display: inline-block;
        }
    }
}

.slider-nav_equipment {
    margin: -0.2rem 0 0 1rem;
    .slider-nav__item {
        margin-left: 1.3rem
    }
}

.section-services {
    margin-top: 20.5rem;
}

.services-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    &__item {
        width: 25%;
        padding: 0 1.5rem 12.3rem;
        position: relative;
        z-index: 0;
        &:hover {
            z-index: 10;
        }
    }
    &__picture {
        position: relative;
        text-align: center;
        border-radius: 100rem;
        overflow: hidden;
        cursor: pointer;
        img {
            vertical-align: top;
            border-radius: 50%;
            transition: opacity .3s ease-in .3s
        }
    }
    .img-hover {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        img {
            opacity: 0;
        }
    }
    &__head {
        font-size: 1.45rem;
        line-height: 1.21;
        text-transform: uppercase;
        color: #53545D;
        margin: 4rem 0 0 3.7rem;
        a {
            color: inherit;
        }
        a,
        span {
            padding: 0 0 1.7rem;
            position: relative;
            cursor: pointer;
            &:after {
                content: '';
                display: block;
                width: 3.5rem;
                height: 2px;
                left: 0;
                bottom: 0;
                background: #53545D;
                position: absolute;
                border-radius: 2px;
                margin-top: 1.5rem;
                transition: width .3s ease-in;
            }
        }
    }
    &__list {
        position: absolute;
        top: 19.6rem;
        min-height: 22rem;
        background: #FFF4E0;
        box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.1);
        border-radius: 6rem;
        padding: 4.8rem 0 2.9rem;
        font-size: 1.4rem;
        line-height: 1.21;
        color: #000;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: all .3s ease;
        z-index: 10;
        a {
            color: inherit;
        }
        .services-main__head {
            //font-weight: 500;
            color: #000;
            padding: 0 3.7rem;
            margin: 0;
            &:after {
                bottom: 1px;
            }
        }
        ul {
            list-style: none;
                margin-top: 2.85rem;
            a {
                display: block;
                font-size: 1.45rem;
                padding: 1.95rem 5.6rem 1.7rem 3.6rem;
                &:hover {
                    background: rgba(#fff, 0.4);
                }
            }
        }
        li {
            list-style: none;
        }
    }
    &__card {
        display: inline-block;
    }
    &__card:hover {
        img {
            opacity: 0;
            transition-delay: .0s;
        }
        .img-hover img {
            opacity: 1
        }
        .services-main__list {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition-delay: .3s;
        }
    }
}

.web {
    .equipment-slider-description .list-decor a:hover {
        transform: translateX(0.8rem);
    }
    .services-main__head a:hover:after {
        width: 50px;
    }
}
.main-text {
    transition: opacity .8s ease-in-out 0.3s, transform .8s ease-in-out 0.3s
}
.main-bl__picture {
    transition: opacity .8s ease-in-out 0.7s, transform .8s ease-in-out 0.7s

}
.main-bl__head {
    transition: opacity .8s ease-in-out 1s, transform .8s ease-in-out 1s
}
.main-arrows{
    transition: opacity .8s ease-in-out 1.3s, transform .8s ease-in-out 1.3s
}
.arrow-scroll{
    transition: opacity .8s ease-in-out 1.6s, transform .8s ease-in-out 1.6s
}
.loaded {
    .main-text, .main-bl__picture, .main-bl__head, .main-arrows, .arrow-scroll  {
        transition: none;
    }
    .main-text {
        opacity: 0;
        transform: translateX(-30px);
    }
    .main-bl__picture {
        opacity: 0;
        transform: translateX(30px);
    }
    .main-bl__head{
        opacity: 0;
        transform: translateX(-30px);
    }
    .main-arrows {
        opacity: 0;
        transform: translateY(15px);
    }
    .arrow-scroll {
        opacity: 0;
        transform: translateY(15px) rotate(-90deg);
    }
}

.main-bl__heading, .main-bl__arrow{

        opacity: 0;
        transform: translateX(-30px);
    transition: opacity .8s ease .6s, transform .5s ease .6s
}
.main-bl__picture img  {
        transform: translateX(30px);

        opacity: 0;
    display: inline-block;
    vertical-align: top;
    transition: opacity .8s ease, transform .8s ease
}
.slick-current {

.main-bl__heading, .main-bl__arrow, .main-bl__picture img{
    opacity: 1;
    transform: translateX(0);
}
.main-bl__heading, .main-bl__arrow {

    transition-delay: .6s
}
.main-bl__picture img {
    transition: opacity .8s ease .3s, transform .8s ease .3s
}
}


@media screen and (min-width: 1414px) {
    .contacts-main__map {
        left: calc(50% - 24.5rem);
    }
}
@media screen and (min-width: 1701px) {

    .main-arrows {
        left: calc(50vw - 655px);
    }
}

@media screen and (min-width: 1901px) {
    .h1-main {
        font-size: 36rem;
    }
}

@media screen and (min-width: 1701px) and (max-height: 700px) {
    .main-arrows {
        bottom: 2rem;
        left: calc(50vw - 705px);
    }
}

@media screen and (min-width: 1024px) and (max-height: 700px) {
    .h1-main {
        font-size: 37.94vh;
    }
    .slider-main__card {
        min-height: 60rem;
    }
    .main-bl__picture img {
    max-height: 457px;
}
}

@media screen and (max-width: 1700px) {
    .main-text {
        transform: translateX(-50%);
    }
    .slider-reviews {
        margin-left: -4rem
    }
}

@media screen and (max-width: 1366px) {
    .section-compare {
        margin-top: 23.7rem;
    }
    .section-reviews {
        margin-top: 18.25rem;
    }
    .section-services {
        margin-top: 12.5rem;
    }
    .section-pick-up-procedure {
        margin-top: 11.8rem;
    }

    .section-reviews {
    margin-top: 14.25rem;
}
    .section-worth {
        margin-top: 17.8rem;
    }
    .section-services {
        margin-top: 12.5rem;
    }
    .section-specialist {
    margin-top: 15.3rem;
}
.specialist-tab {
    margin-top: 6.8rem;
    }
    .section-equipment {
    margin-top: 16.4rem;
    .h2-decor {
        margin-bottom: 5.4rem
    }
}
.equipment {
    margin-top: 11.3rem
}
.section-contacts {
    margin-top: 13rem;
    }
    .slider-reviews {
        padding-bottom: 10rem
    }
}
@media screen and (max-width: 1365px) {
    .specialist-slider {
        margin-left: -2.5rem;
        margin-right: -2.5rem
    }
    .specialist-slider__item {
        padding-left: 2.5rem;
        padding-right: 0.5rem
    }
}
@media screen and (max-width: 1320px) {
    .with-decor {
        width: 32.3rem
    }
    .worth-img {
        width: 40.7rem
    }
    .compare__picture {
        width: 35.3rem
    }
    .section-picture {
        padding: 1.4rem;
        height: 32.3rem;
        width: 32.3rem;
    }
    .pick-up-procedure__description {
        width: calc(100% - 32.3rem)
    }
    .worth-description {
        width: calc(100% - 40.7rem)
    }
    .worth-wrapper_main {
        .worth-description {
             width: calc(100% - 36.7rem);
             margin-right: -4rem
        }
    }
    .decor-left {
        border-radius: 0px 40px 40px 0px;
        right: 15rem;
        top: -2.5rem;
        bottom: -2.5rem;
    }
    .twentytwenty-wrapper {
        width: 32.3rem;
        height: 26.8rem;
        border-width: 15px;
    }
    .equipment-tab {
        padding-left: 4rem;
    }
    .slider-nav_worth {
        margin: 1.8rem 0 0 7.2rem;
        width: calc(100% - 7.2rem)
    }
    .section-worth .decor-right {
        top: -1.5rem;
        bottom: auto;
        height: 38.2rem;
        left: calc(100% - 21.6rem);
    }
    .decor-left {
        border-radius: 0px 80px 80px 0px;
        right: 12rem;
        top: -4rem;
        bottom: -4.5rem;
    }
    .equipment-sliders__left {
        width: 32.8rem;
    }
    .equipment-sliders__right {
        width: calc(100% - 32.8rem);
        padding-left: 4rem;
    }
    .slider-nav_equipment {
        width: 270px;
    }
    .equipment-slider__picture {
        height: 26.8rem;
        padding: 1rem;
    }
    .decor-compare {
        right: calc(100% - 20.5rem);
        height: 36rem;
        bottom: auto
    }
    .section-compare .worth-wrapper {
        margin-right: 0
    }
    .compare-description {
        width: calc(100% - 35.3rem);
        padding-left: 0%
    }
    .section-compare .h2-decor {
        margin: 0 0 -2.2rem 31.4rem;
    }
    .decor-equipment {
        border-radius: 700px 0px 0px 700px
    }
    .slider-compare-nav {
        margin-top: 2.5rem
    }
    .decor-worth {
        height: 35rem;
        bottom: auto
    }
}

@media screen and (max-width: 1199px) {
    .dropdown-phones__item {
        margin-bottom: 1.4rem;
    }
    .dropdown-list {
        padding-top: 5rem;
        border-radius: 20px;
        left: -2.5rem;
        top: -2rem;
        width: auto;
        min-width: calc(100% + 3.5rem);
    }
    .dropdown-phones__item a {
        padding: 1.05rem 4rem .8rem 3.1rem;
    }
    .dropdown-phones {
        padding: 0.5rem 0 0.3rem;
    }
    .decor-equipment {
            border-radius: 20rem 0px 0px 20rem;
    }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
    .slider-main__card {
        padding-top: 18rem
    }
    .main-text {
        top: 37rem;
    }
    .slider-main__decor {
        border-radius: 0px 0px 0px 400px;
    }
    .slider-main-decor {
        border-radius: 0px 0px 0px 150px;
        left: 19%;
    }
}

@media screen and (max-width: 1120px) and (min-width: 1024px) {
    .equipment-slider-description .list-decor ul {
        columns: 1
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .section-text,
    .compare__text {
        font-size: 1.75rem;
    }
    .section-text {
        &>*:first-child,
        .os-content>*:first-child {
            &:first-letter {
                font-size: 6.2rem;
            }
        }
    }
    .pick-up-procedure__text {
        max-height: 24.6rem;
    }
}

@media screen and (max-width: 1024px) {
    .section-services {
        margin-top: 10.5rem;
    }
    .section-pick-up-procedure {
        margin-top: 9.8rem;
    }
    .section-reviews {
    margin-top: 12.25rem;
}
    .section-worth {
        margin-top: 15.8rem;
    }
    .section-services {
        margin-top: 10.5rem;
    }
    .section-specialist {
    margin-top: 13.3rem;
}
.specialist-tab {
    margin-top: 5.8rem;
    }
    .section-equipment {
    margin-top: 14.4rem;
    .h2-decor {
        margin-bottom: 5.4rem
    }
}
.equipment {
    margin-top: 11.3rem
}
}
@media screen and (max-width: 1023px) {
    .services-main__item {
        width: 33.33%
    }
    .equipment-nav-wrap {
        width: 100%;
        padding-bottom: 0 !important
    }
    .equipment-nav .tabs-nav__link {
        padding: 0 3.05rem 2.5rem 2.5rem;
        margin: 0 1rem 0 0;
        letter-spacing: -0.001em;
        color: #000000;
        &:last-child {
            margin-right: 0;
        }
    }
    .equipment-nav .tabs-nav__link:before {
        display: block;
        height: 3px;
        left: 0;
        bottom: 0;
        right: 0;
        top: auto;
        width: 100%;
        height: 3px;
    }
    .equipment {
        display: block;
        margin-top: -0.4rem;
    }
    .equipment-nav {
        display: flex;
    }
    .equipment-nav-wrap {
        margin-left: -2.5rem;
        margin-right: -2.6rem;
        width: auto;
    }
    .equipment-tab {
        width: 100%;
        padding-left: 0;
        margin-top: 8rem;
    }
    .section-specialist {
        margin-top: 14.3rem;
    }
    .section-equipment {
        margin-top: 15.4rem;
    }
    .section-compare {
        margin-top: 19.7rem;
    }
    .slider-reviews {
        margin-left: -2rem;
        margin-right: -2rem
    }
    .slider-reviews__item {
        padding-left: 2rem;
        padding-right: 2rem
    }
    .section-reviews {
        margin-top: 12.25rem;
    }
    .review-tab {
        margin-top: 5.5rem;
    }
    .specialist-tab {
        margin-top: 6.8rem;
    }
    .specialist-decor {
        top: 20rem;
    }
}

@media screen and (max-width: 960px) {
    .main-bl__picture {
min-width: 45rem;
text-align: right;
right: -1rem;
img {
    max-height: 77vh;
}

    }
    .slider-main__card {
        padding-top: 19.75rem;
    }
    .main-bl__head {
        display: block;
        max-width: 60%;
    }
    .main-bl__heading {
        padding-top: 0
    }
    .slider-main .arrow-1 {
        margin: 0
    }
    .arrow-1 {
        width: 11.2rem;
        height: 11.2rem;
        &:after {
            margin-left: -1.25rem;
        }
    }

    .main-bl__arrow {
        margin-top: 3rem
    }
    .slider-reviews__details {
        display: block;
    }
    .slider-reviews__details-col {
        margin-right: 0;
    }
    .slider-reviews__details-col+.slider-reviews__details-col {
        margin-top: 2.8rem;
    }
    .contacts-nav .tabs-nav__link {
        padding-left: 4.5rem
    }
    .contacts-main__nav {
        width: 26.6rem;
    }
    .contacts-main__map {
        left: 31rem;
    }
    .worth__text {
        margin-left: 0
    }
    .pick-up-procedure__description .h2-decor {
        margin-left: 0;
    }
    .pick-up-procedure__description {
        padding-left: 4rem
    }
    .section-pick-up-procedure {
        margin-top: 6.8rem;
    }
    .slider-nav_worth {
        margin-left: 0;
        width: 28rem;
    }
    .section-compare .h2-decor {
        margin-left: 39rem
    }
}

@media screen and (max-width: 767px) {
    .slider-nav__slides {
        justify-content: center;
    }
    .tabs-nav {
        width: auto;
    }
    .main-title {
        color: $text-color;
    }
    .main-bl__head {
        max-width: 345rem;
    }
    .main-bl__arrow {
        margin-top: 4.3rem;
    }
    .arrow-1 {
        font-size: 1rem
    }
    .arrow-1:after {
        width: 3.4rem;
        margin-left: -0.6rem;
    }
    .main-bl__picture {
    min-width: 38rem;
    right: -10.5rem;
        top: 26rem;
        img {
            max-height: 100%
        }
    }.slider-main__card {
        min-height: 73rem;
    }
    .main-text {
        transform: none;
        left: 0;
        padding-left: 8px;
        padding-right: 8px;
        text-align: left;
        top: 51.2rem;
        max-width: 42rem;
    }
    .h1-main {
        font-size: 14.4rem;
        line-height: 13rem;
        word-wrap: break-word;
        letter-spacing: inherit;
    }
    .slider-main__item {
        padding-bottom: 4.5rem
    }
    .slider-main__decor {
        border-radius: 0px 0px 0px 200px;
        left: -1.7rem;
    }
    .section-main {
        margin-bottom: 4.1rem
    }
    .slider-main-decor {
        left: -10.5%;
        border-radius: 0px 0px 0px 200px;
    }
    .main-arrows {
        left: auto;
        bottom: -3.5rem;
        right: 2.5rem;
    }
    .section-services {
        margin-top: 8.5rem;
    }

    .services-main__head {
        margin: 3.8rem 0 0 2.7rem;
    }
    .services-main__item {
        padding-bottom: 7.4rem
    }
    .services-main__list {
        left: 10px;
        right: 10px;
    }
    .pick-up-procedure {
        display: block;
    }
    .section-picture {
        margin-left: auto;
        margin-right: auto;
    }
    .with-decor {
        width: 100%
    }
    .decor-left {
        top: -2rem;
        bottom: -2.1rem;
        right: 46%;
        border-radius: 0px 40px 40px 0px;
    }
    .pick-up-procedure__description {
        width: 100%;
        padding: 0;
        margin: 8.1rem 0 0;
    }
    .pick-up-procedure {
        margin-top: 7.2rem
    }
    .section-pick-up-procedure {
        margin-top: 1.3rem;
    }
    .pick-up-procedure__text {
        max-height: 37.6rem;
    }
    .pick-up-procedure__button {
        margin-top: 2.6rem;
    }
    .worth-wrapper {
        flex-direction: column-reverse;
    }
    .worth-description {
        flex-direction: column;
        width: 100%
    }
    .worth-wrapper_main .worth-description {
        width: 100%;
        margin-right: 0
    }
    .worth-img {
        width: 100%
    }
    .worth__description {
        width: 100%;
        padding: 0
    }
    .worth__text {
        max-height: 44.7rem;
        margin-left: 0
    }
    .slider-nav_worth {
        margin: -5.2rem -2.6rem 1.8rem;
        width: calc(100% + 5.2rem);
    }
    .worth-wrapper {
        margin-right: 0
    }
    .worth-img {
        .slick-slide {
            width: 100%
        }
        .worth {
            margin-left: -2.6rem;
            margin-right: -2.6rem;
        }
        .worth__card {
            margin-left: auto;
            margin-right: auto;
            padding-left: 2.6rem;
            padding-right: 2.6rem;
        }
    }
    .worth__item {
        padding-left: 0;
        padding-right: 0
    }
    .section-worth {
        margin-top: 7.4rem;
    }
    .slider-nav__item:before {
        border-color: #FFF4E0;
    }
    .section-equipment {
        margin-top: 7.4rem;
    }
    .slider-nav_equipment {
        margin-left: auto;
        margin-right: auto
    }
    .equipment-sliders {
        display: block;
    }
    .slider-nav_equipment {
        margin: -3.7rem auto 0;
    }
    .equipment-sliders__left {
        width: 100%;
    }
    .equipment-sliders__right {
        width: 100%;
        padding: 1.3rem 0 0
    }
    .equipment-slider-description__title {
        font-size: 2.5rem;
    }
    .equipment-tab {
        margin-top: 2.8rem;
    }
    .equipment-tab-wrap {
        margin-top: 0;
    }
    .equipment-slider-description__text {
        max-height: 45rem;
        margin-top: 0.3rem;
    }
    .equipment-slider-description__text {
        letter-spacing: 0.005em;
    }
    .decor-equipment {
        top: 14rem;
        left: -26px;
        right: -26px;
        bottom: 0;
        border-radius: 0
    }
    .slider-compare-nav {
        margin: 0 auto;
        max-width: 270px;
        transform: translateX(-0.5rem);
    }
    .compare__title {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }
    .decor-compare {
        left: -26px;
        right: -26px;
        top: 19rem;
        height: 22rem;
        border-radius: 0
    }
    .section-specialist {
        margin-top: 8rem;
    }
    .section-specialist .h2-decor {
        margin-bottom: 3.6rem;
    }
    .tabs-nav__link {
        margin-right: 2.85rem;
    }
    .specialist-tab {
        margin-top: -3.2rem;
    }


    .compare__card {
        display: block;
    }
    .compare__description {
        width: 100%;
        padding-left: 0;
        margin-top: 14rem;
    }
    .compare__text {
        max-height: 39.8rem;
        margin-top: 0.2rem;
        letter-spacing: -0.005em;
    }
    .equipment-slider-description__subtitle {
        font-size: 1.8rem;
        line-height: 2.65rem;
    }
    .equipment-slider-description__servises {
        margin-top: 4.25rem;
    }
    .compare-wrap {
        .worth-wrapper {
            flex-direction: column;
        }
    }
    .section-compare {
        margin-top: 7.7rem;
    }
    .compare__picture {
        margin-top: 2.2rem
    }
    .twentytwenty-wrapper {
        width: 35.3rem;
        height: 28.4rem;
        border-width: 10px;
    }
    .section-compare .h2-decor {
        position: relative;
        z-index: 2
    }
    .equipment-sliders__right {
        padding-bottom: 4.7rem
    }
    .equipment-slider-description .list-decor {
        margin-top: 4rem;
    }
    .compare-description {
        padding: 0;
        margin: -3.6rem 0 0;
    }
    .compare__description {
        margin-top: 1.5rem;
    }
    .twentytwenty-wrapper {
        margin-left: auto;
        margin-right: auto
    }
    .section-compare .h2-decor {
        margin-left: 0;
    }
    .slider-nav__slides {
        justify-content: center;
    }
    .section-contacts {
        margin-top: 8.8rem;
    }
    .contacts-main {
        display: block;
    }
    .contacts-main__nav {
        width: 100%;
        min-height: 0
    }
    .contacts-main__map {
        height: 54.5rem;
        border-radius: 0;
        position: relative;
        left: 0;
    }
    .logo-contacts {
        text-align: center;
        margin: 0 0 2rem;
    }
    .contacts-nav {
        display: flex;
    }
    .contacts-main__mob-title {
        font-size: 2.7rem;
        padding-bottom: 0.8rem;
        color: #000;
        position: relative;
        &:before {
            content: '';
            display: block;
            height: 3px;
            left: 0;
            bottom: 0;
            right: 0;
            transform-origin: 0 50%;
            background: #FFDFA5;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            position: absolute;
            transform: scale(0);
        }
    }
    .contacts-main__details {
        display: none;
        margin-top: 6.5rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 5rem;
    }
    .contacts-nav .tabs-nav__link {
        padding-left: 0;
        margin-right: 3.5rem;
        font-size: 1.75rem;
        position: static;
        &:last-child {
            margin-right: 0;
        }
    }
    .contacts-nav {
        margin-bottom: 11rem;
        position: relative;
        .tabs-nav__link {
            &:before {
                display: none;
            }
        }
        .tabs-nav__link.active {
            .contacts-main__mob-title:before {
                transform: scale(1);
            }
            .contacts-main__details {
                display: block;
            }
        }
    }
    .contacts-main__phones {
        display: none;
    }
    .sliders-arrow {
        padding-bottom: 5rem;
    }
    .specialist-slider__title {
        font-size: 1.45rem;
    }
    .specialist-slider__position {
        margin-top: 0.5rem;
        font-size: 1.9rem;
    }
    .specialist-slider__experience {
        font-size: 1.1rem;
        margin-top: 1rem;
    }
    .section-reviews {
        margin-top: 5rem;
    }
    .review-tab {
        margin-top: 3.2rem;
    }
    .slider-reviews {
        padding-bottom: 8rem
    }
    .reviews-slides {
        justify-content: flex-start;
    }
    .reviews-nav .tabs-nav__link {
        margin-right: 4.85rem;
        font-size: 1.75rem;
    }
    .section-text, .equipment-slider-description__text {
        max-height: none
    }
    .decor-worth {
        display: none
    }
}

@media screen and (max-width: 690px) {
    .services-main__item {
        width: 50%;
    }
}

@media screen and (max-width: 520px) {
    .services-main__item {
        width: 100%;
        max-width: 336px;
        margin-left: auto;
        margin-right: auto
    }
    .slider-reviews__icon {
        width: 100%;
        margin-bottom: 4.4rem;
    }
    .slider-reviews__author,
    .slider-reviews__date {
        margin-bottom: 0.4rem
    }
}

@media screen and (max-width: 479px) {
    .specialist-slider__img {
        right: 47px;
    }
    .specialist-slider__head {
        max-width: 190px;
    }
    .equipment-slider-description .list-decor ul {
        columns: 1
    }
}

@media screen and (max-width: 374px) {
    .services-main__head {
        font-size: 1.65rem;
    }
    .arrow-1 {
        font-size: 1.1rem;
    }
    .h1-main {
        font-size: 15.4rem;
    }
    .slider-compare-nav, .slider-nav_equipment {
        max-width: 285px;
        width: 100%
    }
}