.window-open {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	transform: translate(0,-200%);
}
.popup {
	max-width: 100%;
	background: #FFFFFF;
border-radius: 6px;
max-width: 68rem;
width: 100%;
min-height: 59.6rem;
display: inline-flex !important;
align-items: center;
form {
	margin: 0px 0.7rem
}
.box-field_checkbox a {
	display: inline-block;
	padding-bottom: 0.2rem
}
}
.popup-content {
padding: 12rem 16% 9.54rem;
width: 100%;
}
.popup-results {
text-align: center;
	&__title {
		font-size: 3.7rem;
line-height: 1.21;

color: #161617;
	}
	&__text {
//font-weight: 300;
    font-size: 1.75rem;
    line-height: 160.86%;
    margin-top: 0.5rem;
color: rgba(#161617,.5);

	}
}
.success-popup {
	text-align: center;
}
.results-icon {
	color: $color-active;
	font-size: 8rem;
	margin-bottom: 0.8rem;
	color: #FFDFA5;
}
.btn_popup {
	width: 100%
}
.popup-title {
	//font-weight: 300;
font-size: 3.3rem;
line-height: 1.1875;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #272A35;

opacity: 0.8;
margin-bottom: 5.2rem;
}
@media screen and (max-width: 1199px) {
    .popup-title {
        font-size: 3rem
    }
}
@media screen and (max-height: 980px) {
.popup-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.popup-title {
	margin-bottom: 4.2rem
}	
}

@media screen and (max-height: 960px) {
    .popup-title {
        font-size: 2.8rem
    }
   }
@media screen and (max-height: 880px) {

.popup {
	.form-control {
    height: 6rem;
    padding-top: 0.5rem
}
}
}
@media screen and (max-width: 767px) {
.popup-content {
    padding: 5rem 30px 5rem;
}
}
@media screen and (max-width: 560px) {
.popup-content {
    padding: 5rem 20px 5rem;
}
}